/**
 * Name: admin_styles.css
 * Version: 1.0.0
 */

/* ==========================================================================
   #Base admin_styles
   ========================================================================== */

.sidebar_icon_radio{
    float:left;
    margin-right:15px;
    width: 40px;
}

.sidebar_position_option_style {
    width: 50%;
    margin: 0 auto;
}

#nfw-page-sidebar input[type="radio"],
#nfw-page-header input[type="radio"] {
    width:auto !important;
}

.nfw-nav-menu-icons-container {
    display: none;
    width: 390px; 
    height: 150px; 
    overflow-y: scroll; 
    cursor:pointer;
}

.nfw-icon-inputs-classes {
    width: 50%;
}

.nfw-icons-wrap-class { 
    float: left;
    border: 3px solid;
    border-color:#2ea2cc;
    border-radius:25px;
    margin: 3px 6px 3px 0px;
    padding: 5px;
}

#nfw_icons_list {
    width: 100%; 
    height: 150px; 
    overflow-y: scroll; 
    padding: 3px 3px 3px 6px;
    cursor: pointer;
    font-size: 23px;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
}

i#nfw_selected_icon {
    font-size: 30px;
}

#nfw_icons_list_fa {
    width: 100%; 
    height: 155px;
    padding: 3px 3px 3px 6px;
    cursor: pointer;
    font-size: 23px;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
}

#nfw_icons_list_fa i {
    margin-left: 12px;
    margin-bottom: 10px;
}

.nfw_icomoon_icons_param_field {
    width: 30% !important;
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}

div#nfw_icons_list span {
    margin-left: 1px;
    padding: 2px;
    line-height: 35px;
    border: 1px solid #d1d1d1;
}

.nfw_icon_container {
    float: left;
    font-size: 45px;
    margin-right: 10px;
}

.vc_license-activation-notice {
    display:none;
}

.nfw_color_preview {
    display: none;
    width: 32px;
    height: 24px;
}

#nfw-page-sidebar input[type="radio"].toggle,
#nfw-page-header input[type="radio"].toggle {
    display: none;
}

#nfw-page-sidebar input[type="radio"].toggle:checked + label,
#nfw-page-header input[type="radio"].toggle:checked + label {
    background-color: #0074a2;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#008ec6),to(#0074a2));
    background-image: -moz-linear-gradient(top,#008ec6,#0074a2);
    background-image: -ms-linear-gradient(top,#008ec6,#0074a2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008ec6),color-stop(100%,#0074a2));
    background-image: -webkit-linear-gradient(top,#008ec6,#0074a2);
    background-image: -o-linear-gradient(top,#008ec6,#0074a2);
    background-image: linear-gradient(top,#008ec6,#0074a2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0);
    border-color: #003d56;
    border-color: #004f6f;
    -webkit-box-shadow: inset 0 1px 0 #00abef,0 1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 #00abef,0 1px 0 rgba(0,0,0,.15);
    color: #fff;
    padding: 5px 14px 6px;
    border: 1px solid #ccc;
    float: left;
}

#nfw-page-sidebar input[type="radio"].toggle + label,
#nfw-page-header input[type="radio"].toggle + label {
    padding: 5px 14px 6px;
    border: 1px solid #ccc;
    float: left;
}

#nfw-page-sidebar input[type="radio"].toggle:checked + label.btn:hover,
#nfw-page-header input[type="radio"].toggle:checked + label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
    -webkit-transition: none;
    -moz-trainsition: none;
    transition: none;
}

#nfw-page-sidebar input[type="radio"].toggle-on + label,
#nfw-page-header input[type="radio"].toggle-on + label {
    border-right: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#nfw-page-sidebar input[type="radio"].toggle-off + label,
#nfw-page-header input[type="radio"].toggle-off + label {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* ==========================================================================
   #Custom Lists
   ========================================================================== */

/**
 * Custom lists
 *
 * 1. unstyled list
 * 2. list with squares for bullets
 * 3. list with discs for bullets
 *
 */

ul.unstyled { list-style-type: none; } /* 1 */
ul.square { list-style-type: square; } /* 2 */
ul.circle { list-style-type: circle; } /* 3 */

ul.check,
ul.plus,
ul.pin,
ul.arrow-circle,
ul.arrow-round-square,
ul.arrow {
    margin-bottom: 60px;
    list-style: none;
}

ul.check li:before,
ul.plus li:before,
ul.pin li:before,
ul.arrow-circle li:before,
ul.arrow-round-square li:before { 
    position: relative;
    display: inline-block;
    top: 0;
    width: auto;
    height: auto;
    margin-right: 15px;
    color: #2d212f;
    font-family: 'FontAwesome';
    font-size: 10px;
    font-style: normal;
}

ul.arrow-circle li:before {
    width: 15px;
    height: 18px;
    padding-left: 3px;
    border: 1px solid #2d212f;
    border-radius: 50%;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

ul.check li:before {
    font-family: 'iconfontcustom';
}

ul.arrow-round-square li:before,
ul.check li:before {
    top: 3px;
    width: 24px;
    height: 26px;
    padding-left: 2px;
    border: 1px solid #2d212f;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

ul.plus li:before { content: ""; }
ul.pin li:before { content: ""; }

ul.check li:before { content: ""; }

ul.arrow-circle li:before,
ul.arrow-round-square li:before { content: ""; }

ul.arrow-circle li,
ul.arrow-round-square li,
ul.check li { margin-bottom: 20px; }

ul.arrow-circle li:last-child,
ul.arrow-round-square li:last-child,
ul.check li:last-child { margin-bottom: 0; }

ul.arrow li a {
    position: relative;
    display: block;
    padding: 15px 40px;
    border: 1px solid transparent;
    color: #2d212f; 
}

ul.arrow li a:after {
    position: absolute;
    top: 15px;
    right: 25px;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: transparent;
    content: "";
}

ul.arrow li a:hover {
    border-color: #2d212f;
    border-radius: 7px;
    text-decoration: none;
}

ul.arrow li a:hover:after { color: #2d212f; }

ul.check.inline { margin: 60px 0; }

ul.check.inline li {
    float: left;
    display: block;
    width: 156.5px;
}

@media (min-width: 1400px) {

    ul.check.inline li { width: 195px; }	

}

@media (min-width: 768px) and (max-width: 979px) {

    ul.check.inline li { width: 235px; }

}

@media (max-width: 767px) {

    ul.check.inline li {
        float: none;
        width: 100%;
    }

}

/* ==========================================================================
   #Reduxframework styles
   ========================================================================== */

.redux-sidebar .redux-group-menu li.divide {
    display: none;
}

.nfw_footer_bg {
    width: 100px;
    float: left;
    padding-top: 5px;
}
