/**
 * Name: elements.css
 *
 *	T.O.C
 *	
 *	#Accordions
 *  #Alerts
 *  #Animations
 *  #Back to top
 *	#Buttons
 *	#Callout Boxes
 *	#Custom Lists
 *	#Dividers
 *  #Fullwidth Section
 *	#Google Maps
 *  #Headlines
 *	#Icon Boxes
 *	#Milestones
 *	#Our Process
 *	#Pie charts
 *	#Pricing Tables
 *	#ProgressBars
 *	#SocialMedia
 *	#Styled Tables
 *	#Tabs
 *	#Testimonials
 *  #WordPress Widgets
 *  #WordPress Comments
 *  #WordPress Comment Form
 */

/* ==========================================================================
   #Accordions
   ========================================================================== */

	/* Accordion & Toggles */
	
	.accordion,
	.toggle { margin: 40px 0; }

	.accordion-item,
	.toggle-item { margin-bottom: 5px; }

	a.accordion-item-toggle,
	a.toggle-item-toggle {
		position: relative;
		display: block;
		padding: 10px;
		color: #69675b;
	}
	
	.accordion-item-toggle span,
	.toggle-item-toggle span {
		position: relative;
		float: left;
		display: block;
		margin: -8px 30px 0 0;
	}
	
	.accordion-item-toggle i,
	.toggle-item-toggle i {
		display: inline-block;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background-color: #80a852;
		color: #fff;
		font-size: 25px;
		line-height: 65px;
		text-align: center;
	}
	
	.accordion-item-toggle strong,
	.toggle-item-toggle strong {
		display: block;
		font-size: 18px;
		font-weight: 600;
	}
	
	.accordion-item-toggle:before,
	.toggle-item-toggle:before {
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 30px;
		content: "+";
	}
	
	.accordion-item-toggle.active:before,
	.toggle-item-toggle.active:before { content: "-"; }
	
	.accordion-item-toggle:hover,
	.accordion-item-toggle.active,
	.toggle-item-toggle:hover,
	.toggle-item-toggle.active { text-decoration: none; }
	
	.accordion-item-toggle.active i,
	.toggle-item-toggle.active i,
	.accordion-item-toggle:hover i,
	.toggle-item-toggle:hover i {
		width: 42px;
		height: 42px;
		line-height: 42px;
	}
	
	.accordion-item-toggle.active span,
	.toggle-item-toggle.active span,
	.accordion-item-toggle:hover span,
	.toggle-item-toggle:hover span {
		width: 61px;
		height: 61px;
		border: 2px solid #80a852;
		border-radius: 50%;
		line-height: 70px;
		text-align: center;
	}
	
	.accordion-item-toggle.active span:before,
	.toggle-item-toggle.active span:before,
	.accordion-item-toggle:hover span:before,
	.toggle-item-toggle:hover span:before {
		position: absolute;
		top: 50%;
		right: -20px;
		width: 20px;
		margin-top: -1px;
		border-top: 2px solid #80a852;
		content: "";
	}
	
	.accordion-item-content,
	.toggle-item-content { 
		display: none; 
		padding: 15px 20px;
		border: 1px solid #d7d7d7;
		margin: 10px 0 20px 0;
	}
	
	.accordion-item-content p:last-child,
	.toggle-item-content p:last-child { margin-bottom: 0; }
	
	/*
	 * 1. Clearfix hack 
	 */
	
	.accordion-item-toggle:after, 
	.accordion-item-content:after,
	.toggle-item-toggle:after, 
	.toggle-item-content:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	/* Accent colors */
	
	.accordion-item.accent-color-1 .accordion-item-toggle i,
	.toggle-item.accent-color-1 .toggle-item-toggle i { background-color: #80a852; }
	
	.accordion-item.accent-color-1 .accordion-item-toggle.active span,
	.toggle-item.accent-color-1 .toggle-item-toggle.active span,
	.accordion-item.accent-color-1 .accordion-item-toggle.active span:before,
	.toggle-item.accent-color-1 .toggle-item-toggle.active span:before,
	.accordion-item.accent-color-1 .accordion-item-toggle:hover span,
	.toggle-item.accent-color-1 .toggle-item-toggle:hover span,
	.accordion-item.accent-color-1 .accordion-item-toggle:hover span:before,
	.toggle-item.accent-color-1 .toggle-item-toggle:hover span:before { border-color: #80a852; }
	
	.accordion-item.accent-color-2 .accordion-item-toggle i,
	.toggle-item.accent-color-2 .toggle-item-toggle i { background-color: #b1a843; }
	
	.accordion-item.accent-color-2 .accordion-item-toggle.active span,
	.toggle-item.accent-color-2 .toggle-item-toggle.active span,
	.accordion-item.accent-color-2 .accordion-item-toggle.active span:before,
	.toggle-item.accent-color-2 .toggle-item-toggle.active span:before,	
	.accordion-item.accent-color-2 .accordion-item-toggle:hover span,
	.toggle-item.accent-color-2 .toggle-item-toggle:hover span,
	.accordion-item.accent-color-2 .accordion-item-toggle:hover span:before,
	.toggle-item.accent-color-2 .toggle-item-toggle:hover span:before { border-color: #b1a843; }
	
	.accordion-item.accent-color-3 .accordion-item-toggle i,
	.toggle-item.accent-color-3 .toggle-item-toggle i { background-color: #e18f5f; }
	
	.accordion-item.accent-color-3 .accordion-item-toggle.active span,
	.toggle-item.accent-color-3 .toggle-item-toggle.active span,
	.accordion-item.accent-color-3 .accordion-item-toggle.active span:before,
	.toggle-item.accent-color-3 .toggle-item-toggle.active span:before,
	.accordion-item.accent-color-3 .accordion-item-toggle:hover span,
	.toggle-item.accent-color-3 .toggle-item-toggle:hover span,
	.accordion-item.accent-color-3 .accordion-item-toggle:hover span:before,
	.toggle-item.accent-color-3 .toggle-item-toggle:hover span:before { border-color: #e18f5f; }
	
	.accordion-item.accent-color-4 .accordion-item-toggle i,
	.toggle-item.accent-color-4 .toggle-item-toggle i { background-color: #f3e686; }
	
	.accordion-item.accent-color-4 .accordion-item-toggle.active span,
	.toggle-item.accent-color-4 .toggle-item-toggle.active span,
	.accordion-item.accent-color-4 .accordion-item-toggle.active span:before,
	.toggle-item.accent-color-4 .toggle-item-toggle.active span:before,
	.accordion-item.accent-color-4 .accordion-item-toggle:hover span,
	.toggle-item.accent-color-4 .toggle-item-toggle:hover span,
	.accordion-item.accent-color-4 .accordion-item-toggle:hover span:before,
	.toggle-item.accent-color-4 .toggle-item-toggle:hover span:before { border-color: #f3e686; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.accordion-item-toggle span,
		.toggle-item-toggle span { 
			float: none;
			margin-bottom: 10px;
		}
		
		.accordion-item-toggle.active span:before,
		.toggle-item-toggle.active span:before,
		.accordion-item-toggle:hover span:before,
		.toggle-item-toggle:hover span:before { display: none; }
		
	}
	
	@media (max-width: 767px) {
		
		.accordion-item-toggle span,
		.toggle-item-toggle span { 
			float: none;
			margin-bottom: 10px;
		}
		
		.accordion-item-toggle.active span:before,
		.toggle-item-toggle.active span:before,
		.accordion-item-toggle:hover span:before,
		.toggle-item-toggle:hover span:before { display: none; }
		
	}

/* ==========================================================================
   #Alerts
   ========================================================================== */

	.alert {
		padding: 13px 15px;
		border: 1px solid #d7d7d7;
		margin-bottom: 30px;
		font: 18px 'Dosis', sans-serif;
		font-weight: 300;
		text-align: center;
	}
	
	.alert i {
		position: relative;
		top: 1px;
		margin-right: 7px;
		font-size: 16px;
	}
	
	.alert.info {
		border: 1px solid #f3e686;
	}
	
	.alert.success {
		border: 1px solid #e18f5f;
		background-color: #e18f5f;
		color: #fff;
	}
	
	.alert.error {
		border: 1px solid #80a852;
		background-color: #80a852;
		color: #fff;
	}
	
	.alert.warning {
		border: 1px solid #b2a944;
		background-color: #b2a944;
		color: #fff;
	}
	
/* ==========================================================================
   #Animations
   ========================================================================== */
   
   .animate {
		-webkit-animation-duration: 1s;
			  animation-duration: 1s;
		-webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
		visibility: hidden;
	}

	.animate.visible { visibility: visible; }
	
	.animate.hidden { visibility: hidden; }
   
/* ==========================================================================
   #Back to top
   ========================================================================== */

	#back-to-top {
		position: fixed;
		z-index: 1000;
		right: -40px;
		bottom: 20px;
		width: 40px;
		height: 40px;
		background-color: #80a852;
		color: #fff;
		font-size: 30px;
		text-align: center;					
		opacity: 0.5;
		text-decoration: none;
		cursor: pointer;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top i {
		font-size: 24px;
		line-height: 40px;
		font-weight: normal;
		vertical-align: top;
		-webkit-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
	}
	
	#back-to-top:hover { opacity: 1; }
	
	#back-to-top.visible { right: 40px; }
	#back-to-top.gone { right: -40px; }

/* ==========================================================================
   #Buttons
   ========================================================================== */

	.btn { 
		display: inline-block; 
		padding: 12px 25px; 
		border: 1px solid #80a852;
		box-shadow: inset 0 0 0 0 #fff;
		margin: 0 5px 20px 0;
		color: #80a852;
		font: 18px 'Dosis', sans-serif;
		line-height: 18px;
		font-weight: 300; 
		text-decoration: none !important;
		vertical-align: middle;
		cursor: pointer; 
		-webkit-transition: all ease 0.5s;
				transition: all ease 0.5s;	
	}
	
	a.btn { color: #80a852; }
	
	.btn:focus { outline: 0; }
	
	.btn-large {
		padding: 15px 30px;
		font-size: 20px;
	}
	
	.btn i,
	.btn-large i { 
		float: left; 
		margin: 0 8px 0 -4px;
		font-size: 20px; 
		line-height: 20px; 
	}
	
	.btn:hover { 
		box-shadow: inset 0 100px 0 0 #80a852;
		color: #fff;
	}

	/* Buton Colors */
	
	.btn.accent-color-1 { 
		border: 1px solid #80a852;
		color: #80a852;
	}
	
	a.btn.accent-color-1 { color: #80a852; }
	
	.btn.accent-color-1:hover { 
		box-shadow: inset 0 100px 0 0 #80a852;
		color: #fff;
	}
	
	.btn.accent-color-2 { 
		border: 1px solid #b1a843;
		color: #b1a843;
	}
	
	a.btn.accent-color-2 { color: #b1a843; }
	
	.btn.accent-color-2:hover { 
		box-shadow: inset 0 100px 0 0 #b1a843;
		color: #fff;
	}
	
	.btn.accent-color-3 { 
		border: 1px solid #e18f5f;
		color: #e18f5f;
	}
	
	a.btn.accent-color-3 { color: #e18f5f; }
	
	.btn.accent-color-3:hover { 
		box-shadow: inset 0 100px 0 0 #e18f5f;
		color: #fff;
	}
	
	.btn.accent-color-4 { 
		border: 1px solid #f3e686;
		color: #f3e686;
	}
	
	a.btn.accent-color-4 { color: #f3e686; }
	
	.btn.accent-color-4:hover { 
		box-shadow: inset 0 100px 0 0 #f3e686;
		color: #fff;
	}
	
/* ==========================================================================
   #Callout Boxes
   ========================================================================== */

	.callout-box {
		padding: 20px 0;
		margin-bottom: 30px;
		background-color: #333;
	}
	
	/**
 	 * Callout box with one background image
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .callout-box
	 *
	 */
	 
	.callout-box.bg-img {
		background-repeat: no-repeat; /* 1 */ 
		background-position: center center;
		-webkit-background-size: cover;
				background-size: cover;
		color: #fff;
	}
	
	/**
 	 * Callout box with repeating background image
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .callout-box
	 *
	 */
	 
	.callout-box.bg-pattern {
		background: repeat top left; /* 1 */	
		color: #fff;
	}
	
	.callout-box.bordered {
		border: 1px solid #efefef;
		background-color: #f5f5f5;
	}
	
	.callout-box .btn { margin-bottom: 0; }
	
	/**
 	 * Callout box grid system
 	 *
	 * 1. overwriting inherited .nfw-row width to 100% in order to make it fluid
	 *
	 */
	
	.callout-box .nfw-row { 
		width: 100%; /* 1 */ 
	}
	
	.callout-box .nfw-span1,
	.callout-box .nfw-span2,
	.callout-box .nfw-span3,
	.callout-box .nfw-span4,
	.callout-box .nfw-span5,
	.callout-box .nfw-span6,
	.callout-box .nfw-span7,
	.callout-box .nfw-span8,
	.callout-box .nfw-span9,
	.callout-box .nfw-span10,
	.callout-box .nfw-span11,
	.callout-box .nfw-span12 {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 10px;
		margin: 0;	
	}
	
	.callout-box .nfw-span12 { width: 100%; }
	.callout-box .nfw-span11 { width: 91.6666666667%; }
	.callout-box .nfw-span10 { width: 83.3333333333%; }
	.callout-box  .nfw-span9 { width: 75%; }
	.callout-box  .nfw-span8 { width: 66.6666666667%; }
	.callout-box  .nfw-span7 { width: 58.3333333333%; }
	.callout-box  .nfw-span6 { width: 50%; }
	.callout-box  .nfw-span5 { width: 41.6666666667%; }
	.callout-box  .nfw-span4 { width: 33.3333333333%; }
	.callout-box  .nfw-span3 { width: 25%; }
	.callout-box  .nfw-span2 { width: 16.66666666666667%; }
	.callout-box  .nfw-span1 { width: 8.333333333333333%; }
  
	@media (max-width: 767px) {
	
		.callout-box .nfw-span1,
		.callout-box .nfw-span2,
		.callout-box .nfw-span3,
		.callout-box .nfw-span4,
		.callout-box .nfw-span5,
		.callout-box .nfw-span6,
		.callout-box .nfw-span7,
		.callout-box .nfw-span8,
		.callout-box .nfw-span9,
		.callout-box .nfw-span10,
		.callout-box .nfw-span11,
		.callout-box .nfw-span12 { width: 100%; }
	  
	}

/* ==========================================================================
   #Custom Lists
   ========================================================================== */

	/**
 	 * Custom lists
 	 *
	 * 1. unstyled list
	 * 2. list with squares for bullets
	 * 3. list with discs for bullets
	 *
	 */
	 
	ul.unstyled { list-style-type: none; } /* 1 */
	ul.square { list-style-type: square; } /* 2 */
	ul.circle { list-style-type: circle; } /* 3 */
	
	/**
 	 * FontAwesome lists
 	 *
	 * 1. Fill circle list
	 *
	 */
	 								
	ul.fill-circle { list-style: none; }	/* 1 */
	
	ul.fill-circle li:before { 
		position: relative;
		top: -2px;
		width: auto;
		height: auto;
		margin-right: 15px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 8px;
		font-style: normal;
	}
	
	ul.fill-circle li:before { content: ""; }
	
	/**
 	 * Custom Icon Font lists
 	 *
	 * 1. Check list
	 *
	 */
	
	ul.check { list-style: none; }			/* 1 */
	
	ul.check li:before { 
		position: relative;
		top: 0;
		display: inline-block;
		width: 24px;
		height: 24px;
		border: 1px solid #80a852;
		border-radius: 50%;
		margin-right: 15px;
		color: #80a852;
		font-family: 'iconfontcustom';
		font-size: 12px;
		text-align: center;
		font-weight: 600;
	}
	
	ul.check li:before { content: ""; }
	
	ul.check li,
	ul.fill-circle li { margin-bottom: 10px; }
	
	ul.check li:last-child,
	ul.fill-circle li:last-child { margin-bottom: 0; }	
	
	/* Accent colors */
	
	ul.fill-circle.accent-color-1 li:before,
	ul.check.accent-color-1 li:before { color: #80a852; }
	
	ul.check.accent-color-1 li:before { border-color: #80a852; }
	
	ul.fill-circle.accent-color-2 li:before,
	ul.check.accent-color-2 li:before { color: #b1a843; }
	
	ul.check.accent-color-2 li:before { border-color: #b1a843; }
	
	ul.fill-circle.accent-color-3 li:before,
	ul.check.accent-color-3 li:before { color: #e18f5f; }
	
	ul.check.accent-color-3 li:before { border-color: #e18f5f; }
	
	ul.fill-circle.accent-color-4 li:before,
	ul.check.accent-color-4 li:before { color: #f3e686; }
	
	ul.check.accent-color-4 li:before { border-color: #f3e686; }

/* ==========================================================================
   #Dividers
   ========================================================================== */

	.divider { margin-bottom: 20px; }
	
	.divider.single-line { border-top: 1px solid #e2e2e2; }
	
	.divider.double-line { border-top: 4px double #e2e2e2; }
	
	.divider.single-dotted {
		 height: 1px;
		 background: url(../images/bg-single-dotted.gif) repeat-x top left ;  
	}
	
	.divider.double-dotted { 
		height: 4px;
		background: url(../images/bg-double-dotted.gif) repeat-x top left; 
	}	

/* ==========================================================================
   #Fullwidth Section
   ========================================================================== */
   
    /**
 	 * Full width section
 	 *
	 * 1. background-image must be supplied using inline css as it is different for every .fullwidth-section
	 *
	 */
	 
   .fullwidth-section {
		overflow: hidden;
		position: relative;
		z-index: 0;	
		padding: 30px 0;
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		margin: 40px 0;
		color: #fff;
		background-color: #80a852;
		background-attachment: scroll;
		background-repeat: no-repeat; /* 1 */ 
		background-position: 50% 0;
		-webkit-background-size: cover;
				background-size: cover;			
	}

	.fullwidth-section-content {
		position: relative;
		z-index: 3;
	}
   
   	.fullwidth-section-overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
		background-position: 0 0;	
	}
	
	.fullwidth-section-video {
		position: absolute;
		z-index: 1;
		top: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
	
	a.play {
		display: inline-block;
		width: 72px;
		height: 72px;
		border: 1px solid #80a852;
		border-radius: 50%;
		margin-top: 20px;
		background-color: #80a852;
		color: #fff;
		text-align: center;		
	}
	
	a.play i {
		font-size: 60px; 
		line-height: 72px;
	}
	
	a.play:hover {
		background-color: transparent;
		text-decoration: none;
	}
	
	.parallax.parallax-enabled { 
		background-attachment: fixed !important;
		/* if parallax then we don't want it to cover */
		-webkit-background-size: cover;
				background-size: cover;
		
	}
	
	
	.fit-vids-style { display:none; } /* adaugat de ytplayer */
	
	.fullwidth-section .callout-box {
		background-color: transparent;
		margin: 0;
	}
	
	/* Overwite element color in fullwidth-section */
	
	.fullwidth-section .accordion-item-toggle,
	.fullwidth-section .toggle-item-toggle,
	.fullwidth-section .btn,
	.fullwidth-section a.btn,
	.fullwidth-section ul.fill-circle.accent-color-1 li:before,
	.fullwidth-section ul.check.accent-color-1 li:before,
	.fullwidth-section .icon-box-1 a,
	.fullwidth-section .icon-box-2 a,
	.fullwidth-section .icon-box-3.accent-color-1 > i,
	.fullwidth-section .icon-box-3.accent-color-1 a,
	.fullwidth-section .icon-box-4 a,
	.fullwidth-section .icon-box-4.accent-color-1 > i,
	.fullwidth-section .pricing-table.accent-color-1 .pricing-table-offer ul li:before,
	.fullwidth-section .tabs-container .tabs-menu li a,
	.fullwidth-section .vertical-tabs-container .tabs-menu li a,
	.fullwidth-section .testimonial.accent-color-1 blockquote h4 span,
	.fullwidth-section .nfw_widget_twitter a,
	.fullwidth-section .icon-box-6 a { color: #fff; }
	
	.fullwidth-section .btn,
	.fullwidth-section ul.check.accent-color-1 li:before,
	.fullwidth-section .icon-box-2.accent-color-1:hover > span,
	.fullwidth-section .icon-box-2.accent-color-1:hover > span:after,
	.fullwidth-section .accordion-item-content,
	.fullwidth-section .toggle-item-content,
	.fullwidth-section .accordion-item.accent-color-1 .accordion-item-toggle.active span,
	.fullwidth-section .toggle-item.accent-color-1 .toggle-item-toggle.active span,
	.fullwidth-section .accordion-item.accent-color-1 .accordion-item-toggle.active span:before,
	.fullwidth-section .toggle-item.accent-color-1 .toggle-item-toggle.active span:before,
	.fullwidth-section .pricing-table.accent-color-1:hover .pricing-table-header,
	.fullwidth-section .pricing-table.accent-color-1 .btn,
	.fullwidth-section .tabs-container .tabs-menu,
	.fullwidth-section .tabs-container .tabs-menu li a,
	.fullwidth-section .tabs-container .tabs,
	.fullwidth-section .vertical-tabs-container .tabs-menu li.active a,
	.fullwidth-section .vertical-tabs-container .tab-content,
	.fullwidth-section .testimonial.accent-color-1 > span,
	.fullwidth-section .testimonial.accent-color-1 > span:after,
	.fullwidth-section .progress-bar,
	.fullwidth-section .table-bordered,
	.fullwidth-section .table-bordered th, 
	.fullwidth-section .table-bordered td { border-color: #fff; }
	
	.fullwidth-section .btn:hover {
		box-shadow: inset 0 100px 0 0 #fff;
		color: #80a852;
	}
	
	.fullwidth-section .accordion-item.accent-color-1 .accordion-item-toggle i,
	.fullwidth-section .toggle-item.accent-color-1 .toggle-item-toggle i,
	.fullwidth-section .icon-box-1.accent-color-1 > i,
	.fullwidth-section .icon-box-2.accent-color-1 > span i,
	.fullwidth-section .icon-box-5.accent-color-1 > i,
	.fullwidth-section .pricing-table.accent-color-1 .pricing-table-header h1,
	.fullwidth-section .tabs-container .tabs-menu li.active a,
	.fullwidth-section .vertical-tabs-container .tabs-menu li.active a,
	.fullwidth-section .progress-bar.accent-color-1 .progress-bar-outer { 
		background-color: #fff;
		color: #69675b;
	}
	
	.fullwidth-section .pricing-table.accent-color-1 .btn { background-color: transparent; }
	
	.fullwidth-section .nfw_widget_twitter { margin-bottom: 0; }
   
/* ==========================================================================
   #Google Maps
   ========================================================================== */

	.google-map { min-height: 200px; }
	
	.map { 
		width: 100%; 
		height: 480px; 
		margin: 0; 
	}	
	
	@media (max-width: 767px) {
		
		.map { height: 300px; }
		
	}

/* ==========================================================================
   #Headlines
   ========================================================================== */

	.headline { 
		margin: 40px 0 80px 0 !important;
		text-align: center; 
	}
	
	.headline h1 { margin-bottom: 40px; }
	
	.headline h5 { 
		font-family: 'Open Sans', Arial, sans-serif;
		line-height: 24px;
	}
	

/* ==========================================================================
   #Icon Boxes
   ========================================================================== */

/* Icon Box 1
   ========================================================================== */
   
	.icon-box-1 { 
		position: relative; 
		margin-bottom: 40px; 
	}
		
	.icon-box-1 > i { 
		float: left;
		display: block;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-top: 20px;
		background-color: #80a852;
		color: #fff;  
		font-size: 38px; 
		line-height: 80px; 
		text-align: center;
	} 
	
	.icon-box-1 > img { 
		float: left; 
		display: block; 
	} 
	
	.icon-box-1 a { color: #69675b; }
	
	.icon-box-1 h4 { 
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
	
	.icon-box-1 .icon-box-content { margin-left: 100px; }
	
	/* Accent colors */
	
	.icon-box-1.accent-color-1 > i { background-color: #80a852; }
	.icon-box-1.accent-color-2 > i { background-color: #b1a843; }
	.icon-box-1.accent-color-3 > i { background-color: #e18f5f; }
	.icon-box-1.accent-color-4 > i { background-color: #f3e686; }
	
	.icon-box-1:hover > i { background-color: #69675b !important; }

/* Icon Box 2
   ========================================================================== */
   
	.icon-box-2 { 
		position: relative; 
		margin-bottom: 40px;
		text-align: center; 
	}
		
	.icon-box-2 > span {
		position: relative;
		display: inline-block;
		margin-bottom: 60px; 
	}
	
	.icon-box-2 > span i { 
		display: inline-block;
		width: 115px;
		height: 115px;
		border-radius: 50%;
		background-color: #fed55c;
		color: #fff;
		font-size: 50px;
		line-height: 115px;
	}
	
	.icon-box-2 > img { margin-bottom: 10px; }
	
	.icon-box-2 h2 { margin-bottom: 25px; }
	
	.icon-box-2 a { color: #69675b; }
	
	.icon-box-2 .icon-box-content {}
	
	.icon-box-2:hover > span {
		width: 111px;
		height: 111px;
		border: 2px solid #80a852;
		border-radius: 50%;
		line-height: 143px;
	}
	
	.icon-box-2:hover > span:after {
		position: absolute;
		bottom: -45px;
		left: 50%;
		height: 45px;
		border-left: 2px solid #80a852;
		margin-left: -1px;
		content: ""; 
	}
	
	.icon-box-2:hover > span i {
		width: 90px;
		height: 90px;
		line-height: 90px;
	}
	
	/* Icon for page 404 */
	
	.icon-box-2 h1.error {
		position: relative;
		width: 220px;
		height: 220px;
		padding: 30px;
		border: 2px solid #e18f5f;
		border-radius: 50%;
		margin: 0 auto 100px auto;
		font-size: 125px;
		line-height: 220px;
		text-align: center;
	}
	
	.icon-box-2 h1.error:before {
		position: absolute;
		bottom: -65px;
		left: 50%;
		height: 65px;
		border-left: 2px solid #e18f5f;
		margin-left: -1px;
		content: ""; 
	}
	
	.icon-box-2 h1.error span {
		display: inline-block;
		width: 220px;
		height: 150px;
		border-radius: 50%;
		padding-top: 70px;
		background-color: #e18f5f;
		color: #fff; 
		line-height: 40px;
	}
	
	.icon-box-2 h1.error span small { font-size: 30px; }
	
	@media (max-width: 767px) {
		
		.icon-box-2 h1.error {
			width: 180px;
			height: 180px;
			font-size: 75px;
			line-height: 180px;
		}
		
		.icon-box-2 h1.error span {		
			width: 180px;
			height: 130px;
			padding-top: 50px;
		}
	}
	
	/* Accent colors */
	
	.icon-box-2.accent-color-1 > span i { background-color: #fed55c; }
	
	.icon-box-2.accent-color-1:hover > span,
	.icon-box-2.accent-color-1:hover > span:after { border-color: #fed55c; }
	
	.icon-box-2.accent-color-2 > span i { background-color: #a82683; }
	
	.icon-box-2.accent-color-2:hover > span,
	.icon-box-2.accent-color-2:hover > span:after { border-color: #a82683; }
	
	.icon-box-2.accent-color-3 > span i { background-color: #e18f5f; }
	
	.icon-box-2.accent-color-3:hover > span,
	.icon-box-2.accent-color-3:hover > span:after { border-color: #e18f5f; }
	
	.icon-box-2.accent-color-4 > span i {background-color: #bdbd31;}
	
	.icon-box-2.accent-color-4:hover > span,
	.icon-box-2.accent-color-4:hover > span:after { border-color: #bdbd31; }


	.accent-color-4 .icon-box-content h2 {
	    color: #bdbd31;
	    font-weight: 600;
	    text-decoration: none;
	}

	.accent-color-3 .icon-box-content h2 {
	    color: #e18f5f;
	    font-weight: 600;
	    text-decoration: none;
	}

	.accent-color-2 .icon-box-content h2 {
	    color: #a82683;
	    font-weight: 600;
	    text-decoration: none;
	}

	.accent-color-1 .icon-box-content h2 {
	    color: #fed55c;
	    font-weight: 600;
	    text-decoration: none;
	}

	.accent-color-4 .icon-box-content h2 a,
	.accent-color-2 .icon-box-content h2 a,
	.accent-color-3 .icon-box-content h2 a,
	.accent-color-1 .icon-box-content h2 a {
	    text-decoration: none;
	}
/* Icon Box 3
   ========================================================================== */
   
	.icon-box-3 { 
		position: relative; 
		margin-bottom: 40px; 
	}	
	
	.icon-box-3 > i { 
		float: left;
		margin: 0 10px 20px 0;
		color: #80a852;
		font-size: 40px; 
	} 
	
	.icon-box-3 h4 {
		padding-top: 5px; 
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
	
	.icon-box-3 > img { 
		float: left; 
		margin-right: 10px; 
	} 
	
	.icon-box-3 .icon-box-content {}
	
	/* Accent colors */
	
	.icon-box-3.accent-color-1 > i,
	.icon-box-3.accent-color-1 a { color: #80a852; }
	
	.icon-box-3.accent-color-2 > i,
	.icon-box-3.accent-color-2 a { color: #b1a843; }
	
	.icon-box-3.accent-color-3 > i,
	.icon-box-3.accent-color-3 a { color: #e18f5f; }
	
	.icon-box-3.accent-color-4 > i,
	.icon-box-3.accent-color-4 a { color: #f3e686; }
	
	.icon-box-3:hover > i { color: #69675b !important; }

/* Icon Box 4
   ========================================================================== */
   
	.icon-box-4 { 
		position: relative; 
		margin-bottom: 55px; 
	}
		
	.icon-box-4 > i { 
		float: left;
		display: block;
		margin-top: 10px;
		color: #80a852;
		font-size: 50px; 
	} 
	
	.icon-box-4 > img { 
		float: left; 
		display: block; 
	} 
	
	.icon-box-4 a { color: #69675b !important; }
	
	.icon-box-4 h4 { 
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
	
	.icon-box-4 .icon-box-content { margin-left: 90px; }
	
	/* Accent colors */
	
	.icon-box-4.accent-color-1 > i { color: #80a852; }
	.icon-box-4.accent-color-2 > i { color: #b1a843; }
	.icon-box-4.accent-color-3 > i { color: #e18f5f; }
	.icon-box-4.accent-color-4 > i { color: #f3e686; }
	
	.icon-box-4:hover > i { color: #69675b !important; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.icon-box-4 > i,
		.icon-box-4 > i img { 
			float: none;
			margin-bottom: 20px;
			text-align: center;
		}
		
		.icon-box-4 .icon-box-content { margin-left: 0; }
		
	}

/* Icon Box 5
   ========================================================================== */
   
	.icon-box-5 { 
		position: relative; 
		margin-bottom: 40px; 
	}
		
	.icon-box-5 > i { 
		float: left;
		display: block;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background-color: #80a852;
		color: #fff;  
		font-size: 24px; 
		line-height: 64px; 
		text-align: center;
	} 
	
	.icon-box-5 > img { 
		float: left; 
		display: block; 
	} 
	
	.icon-box-5 h4 {
		padding-top: 7px; 
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
	
	.icon-box-5 .icon-box-content { margin-left: 100px; }
	
	/* Accent colors */
	
	.icon-box-5.accent-color-1 > i { background-color: #80a852; }
	.icon-box-5.accent-color-2 > i { background-color: #b1a843; }
	.icon-box-5.accent-color-3 > i { background-color: #e18f5f; }
	.icon-box-5.accent-color-4 > i { background-color: #f3e686; }
	
	.icon-box-5:hover > i { background-color: #69675b !important; }
	
/* Icon Box 6
   ========================================================================== */
	
	.icon-box-6 {
	    background: rgba(250, 250, 250, 0.6) none repeat scroll 0 0;
	    border: 2px solid #f3e686;
	    margin-bottom: 40px;
	    padding: 20px 9px 0;
	    position: relative;
	    text-align: center;
	    transition: all 0.3s ease 0s;
	}

	.icon-box-6.accent-color-3 {
	    border-color: #e18f5f;
	}

	.icon-box-6.accent-color-1 {
	    border-color: #80a852;
	}

	.icon-box-6.accent-color-4 {
	    border-color: #a82683;
	}

	.icon-box-6 > span {
		position: relative;
		display: inline-block;
		margin-bottom: 60px; 
		width: 82px;
		height: 82px;
		border: 2px solid #80a852;
		border-radius: 50%;
		line-height: 105px;
	}
	
	.icon-box-6 > span i {
		display: inline-block;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background-color: #80a852;
		color: #fff;
		font-size: 40px;
		line-height: 65px;
	}
	
	.icon-box-6 > span:after {
		position: absolute;
		bottom: -45px;
		left: 50%;
		height: 45px;
		border-left: 2px solid #80a852;
		margin-left: -1px;
		content: ""; 
	}
	
	.icon-box-6 > img { margin-bottom: 10px; }
	
	.icon-box-6 h4 { margin-bottom: 25px; }
	
	.icon-box-6 a {color: #3b1c34 !important;text-decoration: none;font-family: open sans;font-weight: 400;}
	
	.icon-box-6 .icon-box-content {}
	
	.icon-box-6:hover {background-color: #b1a843;}
	.icon-box-6:hover a { color: #69675b; }
	
	/* Accent colors */
	
	.icon-box-6.accent-color-1 > span i { background-color: #80a852; }
	
	.icon-box-6.accent-color-1 > span,
	.icon-box-6.accent-color-1 > span:after { border-color: #80a852; }

	.icon-box-6.accent-color-1:hover > span,
	.icon-box-6.accent-color-1:hover > span:after { border-color: #fff; }
	
	.icon-box-6.accent-color-2 > span i { background-color: #b1a843; }
	
	.icon-box-6.accent-color-2 > span, .icon-box-6.accent-color-2 > span::after {border-color: #b1a843;}

	.icon-box-6.accent-color-2:hover > span, 
	.icon-box-6.accent-color-2:hover > span::after {border-color: #ffffff;}
	
	.icon-box-6.accent-color-3 > span i { background-color: #e18f5f; }
	
	.icon-box-6.accent-color-3 > span,
	.icon-box-6.accent-color-3 > span:after { border-color: #e18f5f; }
	
	.icon-box-6.accent-color-3:hover > span,
	.icon-box-6.accent-color-3:hover > span:after { border-color: #fff; }

	.icon-box-6.accent-color-4 > span i { background-color: #a82683; }
	
	.icon-box-6.accent-color-4 > span,
	.icon-box-6.accent-color-4 > span:after { border-color: #a82683; }
	
	.icon-box-6.accent-color-4:hover > span i {background-color: #fff;color: #a82683;}
	
	.icon-box-6.accent-color-4:hover > span,
	.icon-box-6.accent-color-4:hover > span:after { border-color: #fff; }
	
	.icon-box-6.accent-color-4:hover {
	    background: #a82683 none repeat scroll 0 0;
	    border-color: #a82683;
	}

	.icon-box-6.accent-color-3:hover {
	    background-color: #e18f5f;
	}

	.icon-box-6.accent-color-3:hover > span i {
	    background-color: #fff;
	    color: #e18f5f;
	}

	.icon-box-6.accent-color-1:hover {
	    background-color: #80a852;
	}


	.icon-box-6.accent-color-1:hover > span i {
	    background-color: #fff;
	    color: #80a852;
	}

	.icon-box-6.accent-color-2 {
    	border-color: #b1a843;
	}

	.icon-box-6.accent-color-2:hover > span i {
	    background-color: #fff;
	    color: #b1a843;
	}
/* ==========================================================================
   #Milestones
   ========================================================================== */

	.milestone {
		position: relative;
		margin-bottom: 30px;
		text-align: center;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	.milestone:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;		
	}
	
	.milestone i {
		z-index: 20;
		margin-right: 10px;
		font-size: 32px;
	}
	
	.milestone .milestone-content {
		z-index: 10;
		font-size: 60px;
		line-height: 70px;
		font-weight: 600;
	}
	
	.milestone .milestone-description { 
		font-size: 20px; 
		line-height: 34px;
		font-weight: 600;
		text-transform: uppercase;
	}

/* ==========================================================================
   #Our Process
   ========================================================================== */

	/* Horizontal Process Builder */

	.horizontal-process-builder { 
		position: relative;
		margin-bottom: 40px;
		list-style: none;
		text-align: center; 
	}
	
	.horizontal-process-builder:before {
		position: absolute;
		z-index: 1;
		top: 235px;
		right: 0;
		left: 0;
		display: block;
		border-top: 2px solid #e18f5f;
		content: "";
	}
	
	.horizontal-process-builder li { 
		float: left;
		width: 25%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 25px;  
	}
	
	.horizontal-process-builder li img { margin-bottom: 60px; }
	
	.horizontal-process-builder-description h3 { margin-bottom: 15px; }
	
	.horizontal-process-builder-description h3 span {
		color: #80a852;
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
	
	/* Number of Items */
	
	.horizontal-process-builder.three-items li { width: 33.3333333333%; }
	.horizontal-process-builder.four-items li { width: 25%; }
	.horizontal-process-builder.five-items li { width: 20%; }
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.horizontal-process-builder li { padding: 0 15px; }
		
	}
	
	@media (max-width: 767px) {
		
		.horizontal-process-builder:before { content: none; }
		
		.horizontal-process-builder li { 
			float: none;
			width: 100%;
			margin-bottom: 40px; 
		}
		
		.horizontal-process-builder.three-items li { width: 100%; }
		.horizontal-process-builder.four-items li { width: 100%; }
		.horizontal-process-builder.five-items li { width: 100%; }
		
	}
	
/* ==========================================================================
   #Pie charts
   ========================================================================== */

	.pie-chart {
		position: relative;	
		margin: 0 auto 40px auto;
		text-align: center;
	}
	
	.pie-chart canvas {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
	
	.pie-chart i, 
	.pie-chart .pie-chart-custom-text, 
	.pie-chart .pie-chart-percent {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.pie-chart img {
		max-width: 100%;
		vertical-align: middle;
	}
	
	.pie-chart .pie-chart-custom-text { 
                font-size: 30px;
                font-weight: 400; 
        }
	
	.pie-chart .pie-chart-percent {
		font-size: 30px;
		font-weight: 400;
	}
	
	.pie-chart-description {
		display: block;
		margin-bottom: 30px;
		font-size: 22px;
		font-weight: 400;
		text-align: center;
	}

/* ==========================================================================
   #Pricing Tables
   ========================================================================== */

	.pricing-table {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		margin-bottom: 80px;
		text-align: center;
	}

	.pricing-table-header { 
		width: 180px;
		height: 180px;
		margin: 0 auto 20px;
	}
	
	.pricing-table-header h1 {
		width: 180px;
		height: 180px;
		border-radius: 50%;		
		margin: 0 auto 20px;
		background-color: #80a852;
		color: #fff;
		font: 100px/180px 'Dosis', sans-serif;
		font-weight: 300;
	}
	
	.pricing-table-header h1 sup {
		margin-left: -20px;
		font-size: 30px;
		line-height: 30px;
	}
	
	.pricing-table-header h1 span {
		margin-left: -40px;
		font-size: 30px; 
		line-height: 30px;	
	}
		
	.pricing-table-offer { margin-left: 50px; }
	
	.pricing-table-offer ul { 
		list-style: none;
		text-align: left;
	}
	
	.pricing-table-offer ul li { padding: 10px 0; }
	
	.pricing-table-offer ul li:before {
		position: relative;
		top: -2px;
		width: auto;
		height: auto;
		margin-right: 12px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 9px;
		font-style: normal;
		content: "";
	}
	
	.pricing-table .btn {
		border-color: #80a852;
		background-color: #80a852;
		color: #fff;
	}
	
	.pricing-table .btn:hover {
		box-shadow: inset 0 100px 0 0 #fff;
		color: #80a852;
	}
	
	.pricing-table:hover .pricing-table-header {
		width: 176px;
		height: 176px;
		border: 2px solid #80a852;
		border-radius: 50%;
	}
	
	.pricing-table:hover .pricing-table-header h1 {
		width: 145px;
		height: 145px;
		font-size: 82px;
		line-height: 145px;
		margin-top: 15px;
	}
	
	.pricing-table:hover .pricing-table-header h1 sup,
	.pricing-table:hover .pricing-table-header h1 span {
		margin-left: -20px;
		font-size: 24px; 
		line-height: 24px;
	}
	
	/* Accent colors */	
	
	.pricing-table.accent-color-1 .pricing-table-header h1,
	.pricing-table.accent-color-1 .btn { background-color: #80a852; }
	
	.pricing-table.accent-color-1 .pricing-table-offer ul li:before,
	.pricing-table.accent-color-1 .btn:hover { color: #80a852; }
	
	.pricing-table.accent-color-1:hover .pricing-table-header,
	.pricing-table.accent-color-1 .btn { border-color: #80a852; }
	
	.pricing-table.accent-color-2 .pricing-table-header h1,
	.pricing-table.accent-color-2 .btn { background-color: #b1a843; }
	
	.pricing-table.accent-color-2 .pricing-table-offer ul li:before,
	.pricing-table.accent-color-2 .btn:hover { color: #b1a843; }
	
	.pricing-table.accent-color-2:hover .pricing-table-header,
	.pricing-table.accent-color-2 .btn { border-color: #b1a843; }
	
	.pricing-table.accent-color-3 .pricing-table-header h1,
	.pricing-table.accent-color-3 .btn { background-color: #e18f5f; }
	
	.pricing-table.accent-color-3 .pricing-table-offer ul li:before,
	.pricing-table.accent-color-3 .btn:hover { color: #e18f5f; }
	
	.pricing-table.accent-color-3:hover .pricing-table-header,
	.pricing-table.accent-color-3 .btn { border-color: #e18f5f; }
	
	.pricing-table.accent-color-4 .pricing-table-header h1,
	.pricing-table.accent-color-4 .btn { background-color: #f3e686; }
	
	.pricing-table.accent-color-4 .pricing-table-offer ul li:before,
	.pricing-table.accent-color-4 .btn:hover { color: #f3e686; }

	.pricing-table.accent-color-4:hover .pricing-table-header,
	.pricing-table.accent-color-4 .btn { border-color: #f3e686; }
	
	@media (min-width: 1400px) {
		
		.pricing-table-offer { margin-left: 80px; }
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.pricing-table-header { 
			width: 150px;
			height: 150px;
		}
		
		.pricing-table-header h1 {
			width: 150px;
			height: 150px;
			font-size: 70px;
			line-height: 150px;
		}
		
		.pricing-table-header h1 sup { margin-left: -10px; }
		.pricing-table-header h1 span { margin-left: -30px; }
		
		.pricing-table:hover .pricing-table-header {
			width: 146px;
			height: 146px;
		}
		
		.pricing-table:hover .pricing-table-header h1 {
			width: 115px;
			height: 115px;
			font-size: 52px;
			line-height: 115px;
		}
		
		.pricing-table:hover .pricing-table-header h1 sup { margin-left: -5px; }
		.pricing-table:hover .pricing-table-header h1 span { margin-left: -20px; }
		
		.pricing-table-offer { margin-left: 25px; }
		
	}

/* ==========================================================================
   #ProgressBars
   ========================================================================== */

	.progress-bar-description {
		position: relative;
		display: block;
		margin-bottom: 10px;
		line-height: 14px;
	}
	
	.progress-bar-description span {
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -25px;
	}
	
	.progress-bar {
		position: relative;
		display: block;
		height: 10px;
		border: 1px solid #d7d7d7;
		margin-bottom: 30px;
	}
	
	.progress-bar .progress-bar-outer {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #80a852;
	}
	
	.progress-bar .progress-bar-outer .progress-bar-inner {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: block;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}
	
	/* Accent colors */
	
	.progress-bar.accent-color-1 .progress-bar-outer { background-color: #80a852; }
	.progress-bar.accent-color-2 .progress-bar-outer { background-color: #b1a843; }
	.progress-bar.accent-color-3 .progress-bar-outer { background-color: #e18f5f; }
	.progress-bar.accent-color-4 .progress-bar-outer { background-color: #f3e686; }

/* ==========================================================================
   #SocialMedia
   ========================================================================== */

	a.social-icon {
		float: left;
		display: block;
		width: 38px;
		border: 1px solid #80a852;
		border-radius: 50%;
		margin-right: 5px;
		margin-bottom: 5px;
		color: #69675b;
		text-align: center;
	}

	a.social-icon:last-child { margin-right: 0; }

	a.social-icon i {
		font-size: 20px;
		line-height: 38px;
	}
	
	a.social-icon:hover { text-decoration: none; }
	
	a.facebook-icon:hover { color: #0e59a0 !important; }
	a.twitter-icon:hover { color: #0ea4ff !important; }
	a.dribble-icon:hover { color: #ea73a0 !important; }
	a.pinterest-icon:hover { color: #d73532 !important; }
	a.google-icon:hover { color: #282927 !important; }
	a.tumblr-icon:hover { color: #586980 !important; }
	a.instagram-icon:hover { color: #82685a !important; }
	a.rss-icon:hover { color: #f79638 !important; }
	a.linkedin-icon:hover { color: #018faf !important; }
	a.skype-icon:hover { color: #00b0f6 !important; }
	a.flickr-icon:hover { color: #0061db !important; }
	a.vimeo-icon:hover { color: #63879c !important; }
	a.github-icon:hover { color: #3b3b3b !important; }
	a.youtube-icon:hover { color: #cc181e !important; }
	a.windows-icon:hover { color: #6dc2e9 !important; }
	a.dropbox-icon:hover { color: #007ee5 !important; }
	a.xing-icon:hover { color: #026566 !important; }	
	a.adn-icon:hover { color: #1ea076 !important; }
	a.android-icon:hover { color: #98cb02 !important; }
	a.apple-icon:hover { color: #000000 !important; }
	a.behance-icon:hover { color: #2d9ad2 !important; }
	a.bitbucket-icon:hover { color: #214f81 !important; }
	a.bitcoin-icon:hover { color: #f7931b !important; }
	a.codepan-icon:hover { color: #000000 !important; }
	a.css3-icon:hover { color: #3289ce !important; }
	a.delicious-icon:hover { color: #3399fe !important; }
	a.deviantart-icon:hover { color: #c8da30 !important; }
	a.digg-icon:hover { color: #0080c2 !important; }
	a.drupal-icon:hover { color: #0077b9 !important; }
	a.empire-icon:hover { color: #000000 !important; }
	a.foursquare-icon:hover { color: #daecb0 !important; }
	a.git-icon:hover { color: #f34f29 !important; }
	a.gitti-icon:hover { color: #634c3e !important; }
	a.hacker-icon:hover { color: #f18642 !important; }
	a.html5-icon:hover { color: #e54c1f !important; }
	a.joomla-icon:hover { color: #016fb9 !important; }
	a.jsfiddle-icon:hover { color: #4679a4 !important; }
	a.linux-icon:hover { color: #fece0e !important; }
	a.maxcdn-icon:hover { color: #f36f20 !important; }
	a.openid-icon:hover { color: #fe6101 !important; }
	a.pagelines-icon:hover { color: #3783e3 !important; }
	a.pied-icon:hover { color: #0c7b48 !important; }
	a.qq-icon:hover { color: #23286c !important; }
	a.rebel-icon:hover { color: #000000 !important; }
	a.reddit-icon:hover { color: #cee3f8 !important; }
	a.renren-icon:hover { color: #0d81e4 !important; }
	a.share-icon:hover { color: #252525 !important; }
	a.slack-icon:hover { color: #453744 !important; }
	a.soundcloud-icon:hover { color: #fe4e00 !important; }
	a.spotify-icon:hover { color: #80bb41 !important; }
	a.stack-exchange-icon:hover { color: #265a93 !important; }
	a.stack-overflow-icon:hover { color: #fea501 !important; }
	a.steam-icon:hover { color: #191919 !important; }
	a.stumbleupon-icon:hover { color: #f04f23 !important; }
	a.tencent-icon:hover { color: #0063a7 !important; }
	a.trello-icon:hover { color: #226784 !important; }
	a.vine-icon:hover { color: #00b081 !important; }
	a.vk-icon:hover { color: #50769d !important; }
	a.wechat-icon:hover { color: #a4dc31 !important; }
	a.weibo-icon:hover { color: #d82828 !important; }
	a.wordpress-icon:hover { color: #454442 !important; }
	a.yahoo-icon:hover { color: #4b04a8 !important; }

/* ==========================================================================
   #Styled Tables
   ========================================================================== */

	.table-bordered { 
		border: 1px solid #d7d7d7; 
		border-left: none; 
		border-collapse: separate; 		
	}
	
	.table-bordered th, 
	.table-bordered td { border-left: 1px solid #d7d7d7; }
	
	.table-bordered caption + thead tr:first-child th,
	.table-bordered caption + tbody tr:first-child th,
	.table-bordered caption + tbody tr:first-child td,
	.table-bordered colgroup + thead tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child th,
	.table-bordered colgroup + tbody tr:first-child td,
	.table-bordered thead:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child th,
	.table-bordered tbody:first-child tr:first-child td { border-top: none; }

	.table-condensed th,
	.table-condensed td { padding: 4px 8px; }
	
	table.accent-color-1 th { background-color: #80a852; }
	table.accent-color-2 th { background-color: #b1a843; }
	table.accent-color-3 th { background-color: #e18f5f; }
	table.accent-color-4 th { background-color: #f3e686; }

	@media (max-width: 480px) {
	
		/**
		 * Force table to not be like tables anymore
		 */
		 
		table, 
		thead, 
		tbody, 
		th, 
		td, 
		tr { 
			display: block;
		}
		
		/**
		 * Hide table headers
		 */
	
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		.table-bordered { border-top: none; }
		tr { border-top: 1px solid #69675b; }
		
		td:first-child { border-top: none !important; }
	  
	}

/* ==========================================================================
   #Tabs
   ========================================================================== */

	/* Horizontal tabs */
		
   /*
    *  1. Wraps around a horizontal tab group
	*/
   
	.tabs-container {} /* 1 */

	.tabs-container .tabs-menu { 
		border-bottom: 1px solid #d7d7d7;
		margin-top: 10px; 
		margin-bottom: 0;
		list-style: none; 
	}
	
	.tabs-container .tabs-menu li { display: inline; }
	
	.tabs-container .tabs-menu li a { 
		float: left; 
		display: block;
		padding: 25px 20px 15px 20px; 
		border: 1px solid #d7d7d7;	
		margin: 0 5px -1px 0;
		color: #69675b;
		font-size: 18px;
		font-weight: 600;
		text-decoration: none;
	}
	
	.tabs-container .tabs-menu li a span {
		position: relative;
		float: left;
		display: inline-block;
		margin: -10px 20px 0 0;
		text-align: center;
		
	}
	
	.tabs-container .tabs-menu li a span i {
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background-color: #80a852;
		color: #fff;
		font-size: 16px;
		line-height: 45px;
		text-align: center;
	}
	
	.tabs-container .tabs-menu li a:hover { text-decoration: none; }
	
	.tabs-container .tabs-menu li.active a { border-bottom-color: #fff; }
	
	.tabs-container .tabs-menu li a:hover span,
	.tabs-container .tabs-menu li.active a span {
		width: 43px;
		height: 43px;		
		border: 1px solid #80a852;
		border-radius: 50%;
		line-height: 43px;
	}
	
	.tabs-container .tabs-menu li a:hover span:after,
	.tabs-container .tabs-menu li.active a span:after {
		position: absolute;
		top: 50%;
		right: -15px;
		width: 15px;
		border-top: 1px solid #80a852;
		content: "";
	}
	
	.tabs-container .tabs-menu li a:hover span i,
	.tabs-container .tabs-menu li.active a span i {
		width: 37px;
		height: 37px;
		line-height: 37px;
	}
	
	.tabs-container .tabs {
		border: 1px solid #d7d7d7; 
		border-top: none;   
		margin-bottom: 30px;
	}
	
	.tabs-container .tab-content { padding: 35px 30px 30px 30px; }
	
	/* Accent colors */
	
	.tabs-container .tabs-menu li.accent-color-1 a span i { background-color: #80a852; }
	
	.tabs-container .tabs-menu li.accent-color-1 a:hover span,
	.tabs-container .tabs-menu li.accent-color-1.active a span,
	.tabs-container .tabs-menu li.accent-color-1 a:hover span:after,
	.tabs-container .tabs-menu li.accent-color-1.active a span:after { border-color: #80a852; }
	
	.tabs-container .tabs-menu li.accent-color-2 a span i { background-color: #b1a843; }
	
	.tabs-container .tabs-menu li.accent-color-2 a:hover span,
	.tabs-container .tabs-menu li.accent-color-2.active a span,
	.tabs-container .tabs-menu li.accent-color-2 a:hover span:after,
	.tabs-container .tabs-menu li.accent-color-2.active a span:after { border-color: #b1a843; }
	
	.tabs-container .tabs-menu li.accent-color-3 a span i { background-color: #e18f5f; }
	
	.tabs-container .tabs-menu li.accent-color-3 a:hover span,
	.tabs-container .tabs-menu li.accent-color-3.active a span,
	.tabs-container .tabs-menu li.accent-color-3 a:hover span:after,
	.tabs-container .tabs-menu li.accent-color-3.active a span:after { border-color: #e18f5f; }
	
	.tabs-container .tabs-menu li.accent-color-4 a span i { background-color: #f3e686; }
	
	.tabs-container .tabs-menu li.accent-color-4 a:hover span,
	.tabs-container .tabs-menu li.accent-color-4.active a span,
	.tabs-container .tabs-menu li.accent-color-4 a:hover span:after,
	.tabs-container .tabs-menu li.accent-color-4.active a span:after { border-color: #f3e686; }
	
	
	/* Vertical tabs */
	
	.vertical-tabs-container {
		position: relative;
		margin-bottom: 30px;
	}
	
	.vertical-tabs-container .tabs-menu { 
		float: left;
		width: 299px;
		margin-bottom: 0;
		list-style: none;
	}
	
	.vertical-tabs-container .tabs-menu li a { 
		display: block;
		padding: 15px 10px;
		margin-right: -2px; 
		color: #69675b;
		text-decoration: none;
	}
	
	.vertical-tabs-container .tabs-menu li span {
		position: relative;
		float: left;
		display: inline-block;
		margin: 2px 25px 0 0;
		text-align: center;
	}
	
	.vertical-tabs-container .tabs-menu li span i {
		display: inline-block;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background-color: #80a852;
		color: #fff;
		font-size: 20px;
		line-height: 65px;
		text-align: center;
	}
	
	.vertical-tabs-container .tabs-menu li a strong {
		display: block;
		font-size: 18px;
	}
	
	.vertical-tabs-container .tabs-menu li.active a {
		border: 1px solid #d7d7d7;
		border-right-color: #fff;
	}
	
	.vertical-tabs-container .tabs-menu li a:hover span,
	.vertical-tabs-container .tabs-menu li.active a span {
		width: 61px;
		height: 61px;		
		border: 2px solid #80a852;
		border-radius: 50%;
		line-height: 68px;
	}
	
	.vertical-tabs-container .tabs-menu li a:hover span:before,
	.vertical-tabs-container .tabs-menu li.active a span:before {
		position: absolute;
		top: 50%;
		right: -20px;
		width: 20px;
		border-top: 2px solid #80a852;
		margin-top: -1px;
		content: "";
	}
	
	.vertical-tabs-container .tabs-menu li a:hover span i,
	.vertical-tabs-container .tabs-menu li.active a span i {
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	
	.vertical-tabs-container .tabs {
		margin-left: 300px;	
	}
	
	.vertical-tabs-container .tab-content {
		min-height: 400px;
		padding: 20px 25px;
		border: 1px solid #d7d7d7;
	}
	
	.vertical-tabs-container .tab-content p:last-child { margin-bottom: 0; }
	
	/* Accnet colors */
	
	.vertical-tabs-container .tabs-menu li.accent-color-1 span i { background-color: #80a852; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-1 a:hover span,
	.vertical-tabs-container .tabs-menu li.accent-color-1.active a span,
	.vertical-tabs-container .tabs-menu li.accent-color-1 a:hover span:before,
	.vertical-tabs-container .tabs-menu li.accent-color-1.active a span:before { border-color: #80a852; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-2 span i { background-color: #b1a843; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-2 a:hover span,
	.vertical-tabs-container .tabs-menu li.accent-color-2.active a span,
	.vertical-tabs-container .tabs-menu li.accent-color-2 a:hover span:before,
	.vertical-tabs-container .tabs-menu li.accent-color-2.active a span:before { border-color: #b1a843; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-3 span i { background-color: #e18f5f; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-3 a:hover span,
	.vertical-tabs-container .tabs-menu li.accent-color-3.active a span,
	.vertical-tabs-container .tabs-menu li.accent-color-3 a:hover span:before,
	.vertical-tabs-container .tabs-menu li.accent-color-3.active a span:before { border-color: #e18f5f; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-4 span i { background-color: #f3e686; }
	
	.vertical-tabs-container .tabs-menu li.accent-color-4 a:hover span,
	.vertical-tabs-container .tabs-menu li.accent-color-4.active a span,
	.vertical-tabs-container .tabs-menu li.accent-color-4 a:hover span:before,
	.vertical-tabs-container .tabs-menu li.accent-color-4.active a span:before { border-color: #f3e686; }
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.vertical-tabs-container .tabs-menu li a:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
	
		.vertical-tabs-container .tabs-menu { 
			float: none;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
			border: 1px solid #d7d7d7;
			border-bottom: none;
		}
		
		.vertical-tabs-container .tabs { margin-left: 0; }
		
		.vertical-tabs-container .tabs-menu li a { 
			padding: 20px 25px;
			border-bottom: 1px solid #d7d7d7;
			margin-right: 0;
		}

		.vertical-tabs-container .tabs-menu li.active a {
			border: none;
			border-bottom: 1px solid #69675b; 
		}
		
		.vertical-tabs-container .tab-content { border-top: none; }	
	}
	
	@media (max-width: 767px) {
	
		.tabs-container .tabs-menu { border-bottom: none; }
		
		.tabs-container .tabs-menu li { display: block; }
	
		.tabs-container .tabs-menu li a { 
			float: none; 
			display: block;
			padding: 20px 25px;
			border: 1px solid #e7e7e7;
			border-top: none;
			margin: 0;
		}
		
		.tabs-container .tabs-menu li a:hover { text-decoration: none; }
		
		.tabs-container .tabs-menu li:first-child a { border-top: 1px solid #d7d7d7; }
		
		.tabs-container .tabs-menu li.active a {  
			padding: 20px 25px;
			border-bottom-color: #69675b;
			margin: 0px;
			background-color: #fff;
		}
		
		.vertical-tabs-container .tabs-menu { 
			float: none;
			width: 100%;
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
					box-sizing: border-box;
			border: 1px solid #d7d7d7;
			border-bottom: none;
		}
		
		.vertical-tabs-container .tabs { margin-left: 0; }
		
		.vertical-tabs-container .tabs-menu li a { 
			padding: 20px 25px;
			border-bottom: 1px solid #d7d7d7;
			margin-right: 0;
		}

		.vertical-tabs-container .tabs-menu li.active a {
			border: none;
			border-bottom: 1px solid #69675b; 
		}
		
		.vertical-tabs-container .tab-content { border-top: none; }		
	  
	}
	
/* ==========================================================================
   #Testimonials
   ========================================================================== */

	.testimonial { margin-bottom: 40px; }

	.testimonial > span {
		position: relative;
		display: inline-block; 
		float: left;
		padding: 10px;
		border: 3px solid #80a852;
		border-radius: 50%;
	}
	
	.testimonial > span:after {
		position: absolute;
		top: 50%;
		right: -50px;
		width: 50px;
		border-top: 3px solid #80a852;
		margin-top: -2px;
		content: "";
	}
	
	.testimonial > span img {
		display: block; 
		border-radius: 50%; 
		margin: 0 auto;
	}
	
	.testimonial blockquote {
		padding-top: 20px;
		margin-left: 300px;
	}
	
	.testimonial blockquote h4 {
		margin-bottom: 20px;
		font-family: 'Open Sans', Arial, sans-serif; 
	}
	
	.testimonial blockquote h4 span { color: #80a852; }
	
	.testimonial blockquote p { position: relative; }
	
	.testimonial blockquote p:before {
		position: absolute;
		left: -20px;
		font-size: 48px;
		content: "\201c";
	}
	
	.testimonial.no-space > span { 
		padding: 0;
		border-width: 2px;
		margin-top: 20px;
	}
	
	.testimonial.no-space > span:after {
		right: -30px;
		width: 30px;
		border-top-width: 2px;
		margin-top: -1px;
	}
	
	.testimonial.no-space blockquote {
		padding-top: 0;
		margin-left: 170px;
	}
	
	/* Accent colors */
	
	.testimonial.accent-color-1 > span,
	.testimonial.accent-color-1 > span:after { border-color: #80a852; }
	
	.testimonial.accent-color-1 blockquote h4 span { color: #80a852; }
	
	.testimonial.accent-color-2 > span,
	.testimonial.accent-color-2 > span:after { border-color: #b1a843; }
	
	.testimonial.accent-color-2 blockquote h4 span { color: #b1a843; }
	
	.testimonial.accent-color-3 > span,
	.testimonial.accent-color-3 > span:after { border-color: #e18f5f; }
	
	.testimonial.accent-color-3 blockquote h4 span { color: #e18f5f; }
	
	.testimonial.accent-color-4 > span,
	.testimonial.accent-color-4 > span:after { border-color: #f3e686; }
	
	.testimonial.accent-color-4 blockquote h4 span { color: #f3e686; }
	
	@media (max-width: 767px) {
		
		.testimonial > span { 
			float: none;
			margin-bottom: 40px;
		}
		
		.testimonial > span:after {
			top: auto;
			bottom: -40px;
			left: 50%;
			height: 40px;
			border-top: none;
			margin-left: -2px;
			border-left: 3px solid #80a852;
		}
		
		.testimonial.no-space > span:after {
			bottom: -30px;
			height: 30px;
			border-left-width: 2px;
			margin-left: -1px;
		}
		
		.testimonial blockquote,
		.testimonial.no-space blockquote { margin-left: 0; }
		
	}
	
/* ==========================================================================
   #WordPress Widgets
   ========================================================================== */
	
	/* WordPress Widget Defaults */
	
	.widget { margin-bottom: 80px; }
	
	.widget-title { margin-bottom: 40px; }
	
	.footer-top .widget { margin: 20px 0; }
	
	.footer-middle .widget { margin: 40px 0; }

	.footer-middle .widget-title {color: #3b1c19;font-weight: 400; margin-bottom: 25px;}
	
	.footer-bottom .widget:last-child { margin-bottom: 0; }
	
	@media (max-width: 767px) {
		
		.footer-top-widget-area-1 { padding-top: 10px; }
		.footer-top-widget-area-2 { padding-bottom: 10px; }
		
	}
	
	/* Text Widget */
	
	.widget_text {}
	
	.textwidget {}
	
	.footer-top .widget_text h3 { margin-bottom: 0;font-weight: 400;
    padding-top: 5px; }

	.footer-bottom .widget_text span { 
		font-family: 'Dosis', sans-serif;
		font-weight: 300;
		vertical-align: text-bottom;  
	}
	
	/* Search Widget */
	
	.widget_search {}
	
	#searchform { position: relative; }
	
	.screen-reader-text { display: none; }
	
	#searchform input[type="text"] { 
		width: 100%; 
		display: block;
		-webkit-box-sizing: border-box; 
		   -moz-box-sizing: border-box; 
		   		box-sizing: border-box; 
	}
        
        .searchpopup #s {
            width: 75%;
            float: left;
            margin-top: 15px;
            font: 18px 'Dosis', sans-serif;
            line-height: 18px;
            font-weight: 300;
            height: 46px;
        }
        
        ::-webkit-input-placeholder { /* WebKit browsers */
            color:    #d7d7d7;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    #d7d7d7;
            opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    #d7d7d7;
            opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color:    #d7d7d7;
        }
        
        .searchpopup #searchsubmit_second {
            margin-top: 15px;
            margin-left: 10px;
        }
	
	#searchsubmit {
		position: absolute;
		top: 0;
		right: 20px;
		height: 41px;
		border: none;
		background: url(../images/bg-search.png) no-repeat center right;
	}
	
		
	#s{ 
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;	
	}

	/* Recent Entries Widget */
	
	.widget_recent_entries {}
	
	.widget_recent_entries ul { list-style: none; }
	
	.widget_recent_entries ul li { margin-bottom: 20px; }
	.widget_recent_entries ul li:last-child { margin-bottom: 0; }
	
	.widget_recent_entries ul li a { color: #69675b; }
	
	.widget_recent_entries ul li img { 
		float: left;
		margin: 5px 30px 0 0;
	}
	
	.widget_recent_entries ul li .post-date { 
		display: block;
		color: #80a852;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.widget_recent_entries ul li:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.widget_recent_entries ul li img { display: none; }
		
	}
	
	/* Pages Widget */
	
	.widget_pages {}
	
	.widget_pages ul { list-style: none; }
	
	.widget_pages ul li { margin-bottom: 5px; }
	.widget_pages ul li:last-child { margin-bottom: 0; }
	
	.widget_pages ul li a {
		position: relative;
		color: #69675b; 
	} 
	
	.widget_pages ul li a:before {
		position: relative;
		top: -3px;
		padding: 1px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 15px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 6px;
		font-style: normal;
		content: "";
	}
	
	.widget_pages ul li a:hover { text-decoration: none; }	
	.widget_pages ul li a:hover:before { border-color: #80a852; }
	
	.widget_pages ul li a:hover:after {
		position: absolute;
		top: 50%;
		left: 7px;
		width: 10px;
		border-top: 1px solid #80a852;
		content: "";
	}
	
	/* Archive Widget */
	
	.widget_archive {}
	
	.widget_archive ul { list-style: none; }
	
	.widget_archive ul li { margin-bottom: 5px; }
	.widget_archive ul li:last-child { margin-bottom: 0; }
	
	.widget_archive ul li a {
		position: relative;
		color: #69675b; 
	} 
	
	.widget_archive ul li a:before {
		position: relative;
		top: -3px;
		padding: 1px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 15px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 6px;
		font-style: normal;
		content: "";
	}
	
	.widget_archive ul li a:hover { text-decoration: none; }	
	.widget_archive ul li a:hover:before { border-color: #80a852; }
	
	.widget_archive ul li a:hover:after {
		position: absolute;
		top: 50%;
		left: 7px;
		width: 10px;
		border-top: 1px solid #80a852;
		content: "";
	}
	
	.widget_archive select {}
	
	.widget_archive option {}	
	
	/* Categories Widget */
	
	.widget_categories {}
	
	.widget_categories ul { list-style: none; }
	
	.widget_categories ul li { margin-bottom: 5px; }
	.widget_categories ul li:last-child { margin-bottom: 0; }
	
	.widget_categories ul li a {
		position: relative;
		color: #69675b; 
	} 
	
	.widget_categories ul li a:before {
		position: relative;
		top: -3px;
		padding: 1px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 15px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 6px;
		font-style: normal;
		content: "";
	}
	
	.widget_categories ul li a:hover { text-decoration: none; }	
	.widget_categories ul li a:hover:before { border-color: #80a852; }
	
	.widget_categories ul li a:hover:after {
		position: absolute;
		top: 50%;
		left: 7px;
		width: 10px;
		border-top: 1px solid #80a852;
		content: "";
	}
	
	.widget_categories ul li:before
	
	.widget_categories ul ul.children {}
	
	.widget_categories select{}
	
	.widget_categories select#cat {}
	
	.widget_categories select.postform {}
	
	.widget_categories option {}
	
	.widget_categories .level-0 {}
	
	.widget_categories .level-1 {}
	
	.widget_categories .level-2 {}
	
	.widget_categories .level-3 {}
	
	/* Meta Widget */
	
	.widget_meta {}
	
	.widget_meta ul { list-style: none; }
	
	.widget_meta ul li { margin-bottom: 5px; }
	.widget_meta ul li:last-child { margin-bottom: 0; }
	
	.widget_meta ul li a {
		position: relative;
		color: #69675b; 
	} 
	
	.widget_meta ul li a:before {
		position: relative;
		top: -3px;
		padding: 1px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 15px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 6px;
		font-style: normal;
		content: "";
	}
	
	.widget_meta ul li a:hover { text-decoration: none; }	
	.widget_meta ul li a:hover:before { border-color: #80a852; }
	
	.widget_meta ul li a:hover:after {
		position: absolute;
		top: 50%;
		left: 7px;
		width: 10px;
		border-top: 1px solid #80a852;
		content: "";
	}
	
	/* Recent Comments Widget */
	
	.widget_recent_comments {}
	
	#recentcomments { list-style: none; }
	
	#recentcomments li {}
	
	#recentcomments li a {}
	
	.recentcomments {}
	
	/* Tag Cloud Widget  */
	
	.widget_tag_cloud {}
	
	.widget_tag_cloud a {
		display: inline-block;
		padding: 3px 8px;
		border: 1px solid #80a852;
		margin-bottom: 5px;
		background-color: #80a852;
		color: #fff;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	.widget_tag_cloud a:hover { 
		box-shadow: inset 0 100px 0 0 #fff;
		color: #80a852;
		text-decoration: none;
	}
	
	.widget_tag_cloud a:after {}
	
	.widget_tag_cloud a:before {}
	
	/* Calendar Widget */
	
	.widget_calendar {}
	
	#calendar_wrap {}
	
	#calendar_wrap th {}
	
	#calendar_wrap td {}
	
	#wp-calendar tr td {}
	
	#wp-calendar caption {}
	
	#wp-calendar a {}
	
	#wp-calendar #today {}
	
	#wp-calendar #prev {}
	
	#wp-calendar #next {}
	
	#wp-calendar #next a {}
	
	#wp-calendar #prev a {}
	
	/* Custom Menu Widget */
	
	.widget_nav_menu {}	
	
	.widget_nav_menu ul { list-style: none; }
	
	.widget_nav_menu ul li { margin-bottom: 5px; }
	.widget_nav_menu ul li:last-child { margin-bottom: 0; }
	
	.widget_nav_menu ul li a {
		position: relative;
		color: #69675b; 
	} 
	
	.widget_nav_menu ul li a:before {
		position: relative;
		top: -3px;
		padding: 1px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 15px;
		color: #80a852;
		font-family: 'FontAwesome';
		font-size: 6px;
		font-style: normal;
		content: "";
	}
	
	.widget_nav_menu ul li a:hover { text-decoration: none; }	
	.widget_nav_menu ul li a:hover:before { border-color: #80a852; }
	
	.widget_nav_menu ul li a:hover:after {
		position: absolute;
		top: 50%;
		left: 7px;
		width: 10px;
		border-top: 1px solid #80a852;
		content: "";
	}
	
	/* RSS Widget */
	
	.widget_rss {}
	
	.widget_rss ul { list-style: none; }	
	
	/* nfw Navigation */
	
	.nfw_widget_navigation {}
	
	.nfw_widget_navigation ul {  
		margin-bottom: 30px; 
		list-style-type: none; 
		list-style-position: outside; 
	}
	
	.nfw_widget_navigation li { border-bottom: 1px solid #d7d7d7; }
	
	.nfw_widget_navigation li:last-child { border-bottom: none; }
	
	.nfw_widget_navigation li a { 
		display: block; 
		padding: 10px 0; 
	}
	
	.nfw_widget_navigation li a:hover { text-decoration: none; }
	
	.nfw_widget_navigation li a { color: #69675b; }
	
	.nfw_widget_navigation li.current a { color: #80a852; }
	
	.nfw_widget_navigation li.current a:hover { text-decoration: none; }
	
	/* Custom - nfw Flickr Widget */
	
	.nfw_widget_flickr {}
	
	.flickr-feed {}
	
	.flickr-feed .flickr_badge_image { display: inline; }
	
	.flickr-feed img { 
		width: 66px; 
		height: auto;
		border: none;
		padding: 0 7px 0 0; 
	}
	
	@media (min-width: 1400px) {
		
		.flickr-feed img { width: 83px; }
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.flickr-feed img { width: 75px; }
	
	}

	/* Custom - Twitter Widget */
	
	.nfw_widget_twitter {}
	
	#tweet {}
	
	#tweet ul { 
		margin-bottom: 0;
		list-style: none;  
	}
	
	#tweet .tweet {
		margin-bottom: 0;
		word-wrap: break-word; 
	}
	
	#tweet .interact { display: none; }	
	
	.nfw_widget_twitter h4 {
		float: left;
		margin-right: 30px;
	}
	
	.nfw_widget_twitter h4 i { 
		font-size: 48px;
		vertical-align: middle;
	}
	
	@media (max-width: 767px) {
		
		.nfw_widget_twitter h4 { 
			float: none;
			margin-right: 0;
		}
		
	}
	
	/* Custom - Social Media Widget */
	
	.nfw_widget_social_media {}
	
	#footer .nfw_widget_social_media a.social-icon {
	    background-color: #663091;
	    border-color: #663091;
	    color: #fff;
	    height: 25px;
	    width: 25px;
	}
	
	#footer .nfw_widget_social_media a.social-icon:hover {
    	background-color: #fff;
	}

	#footer .nfw_widget_social_media a.social-icon i {
		font-size: 15px;
		line-height: 25px;
	}
	
	/*
	 * 1. Clearfix hack 
	 */
	 
	.nfw_widget_social_media:after { /* 1 */
		visibility: hidden;
		display: block;
		height: 0;
		font-size: 0;
		content: " ";
		clear: both;
	}
	
	/* Latest Posts Widget */
	
	.nfw_widget_latest_posts {}
	
	.nfw_widget_latest_posts ul { list-style: none; }
	
	.nfw_widget_latest_posts ul li { margin-bottom: 30px; }
	.nfw_widget_latest_posts ul li:last-child { margin-bottom: 0; }
	
	.nfw_widget_latest_posts ul li img { 
		float: left;
		margin: 5px 10px 0 0;
	}
	
	.nfw_widget_latest_posts ul li > a {
		color: #69675b;
		font-family: 'Dosis', sans-serif;
		font-weight: 300; 
	}
	
	.nfw_widget_latest_posts ul li p { margin-bottom: 0; }	
	.nfw_widget_latest_posts ul li i { margin-left: 5px; }
	.nfw_widget_latest_posts ul li i:first-child { margin-left: 0; }
	
	@media (min-width: 1400px) {
		
		.nfw_widget_latest_posts ul li i { margin-left: 25px; }
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.nfw_widget_latest_posts ul li img { display: none; }
		
	}
        
	/* Custom - Contact Info Widget */	
	
	.nfw_widget_contact_info {}
	
	.nfw_widget_contact_info ul {
		margin-bottom: 0;
		list-style: none;
	}
	
	.nfw_widget_contact_info ul li {
		position: relative;
		padding-left: 50px;
		margin-bottom: 10px; 
	}
	
	.nfw_widget_contact_info ul li:last-child { margin-bottom: 0; }
	
	.nfw_widget_contact_info ul li i {
		position: absolute;
		top: 5px;
		left: 0;
		color: #663091;
		font-size: 18px;
	}
	
	.nfw_widget_contact_info ul li a { color: #69675b; }

	#menu-product-menu li a::before {
	    border: medium none;
	    color: #663091;
	}

	.widget_nav_menu ul li a:hover::after{border: none;}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.nfw_widget_contact_info ul li { padding-left: 30px; }
		
	}
	
	/* Custom - Newsletter Subscribe Widget */
	
	#mc_signup { position: relative; }
	
	#mc_signup input[type="text"] { 
		width: 100%;
		height: 40px;
		margin-bottom: 0;
		color: #fff;
		font-size: 12px;
	}
	
	#mc_signup input[type="text"]:focus {
		border-color: #fff;
		background-color: #fff;
		color: #69675b;
	}
	
	#mc_signup input[type="submit"] {
		position: absolute;
                width: 35%;
		top: 0;
		right: 0;
		height: 40px;
		border: none;
		box-shadow: inset 0 0 0 0 #f3e686;
		margin: 0;
		background-color: #f3e686;
		color: #69675b;
		text-transform: uppercase;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	#mc_signup input[type="submit"]:hover { 
		box-shadow: inset 0 100px 0 0 #e18f5f;
		color: #fff;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#mc_signup input[type="submit"] { 
			position: relative;
			margin-top: 10px;
		}
		
		.footer-top #mc_signup input[type="submit"] { 
			position: absolute;
			margin-top: 0;
		}
		
	}
        
         #newsletter-subscribe-form { position: relative; }
	
	#newsletter-subscribe-form input[type="text"] { 
		width: 100%;
		height: 40px;
		margin-bottom: 0;
		color: #fff;
		font-size: 12px;
	}
	
	#newsletter-subscribe-form input[type="text"]:focus {
		border-color: #fff;
		background-color: #fff;
		color: #69675b;
	}
	
	#newsletter-subscribe-form input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		height: 40px;
		padding: 11px 20px;
		border: none;
		box-shadow: inset 0 0 0 0 #f3e686;
		margin: 0;
		background-color: #f3e686;
		color: #69675b;
		text-transform: uppercase;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}
	
	#newsletter-subscribe-form input[type="submit"]:hover { 
		box-shadow: inset 0 100px 0 0 #e18f5f;
		color: #fff;
	}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		#newsletter-subscribe-form input[type="submit"] { 
			position: relative;
			margin-top: 10px;
		}
		
		#footer-top #newsletter-subscribe-form input[type="submit"] { 
			position: absolute;
			margin-top: 0;
		}
		
	}
        
        /* Custom - Contact Form7 */
        
        .nfw-span12 p span textarea {
            width: 100%;
        }
        
        .nfw-span4 p span input {
            width: 100%
        }
        
        input.wpcf7-submit:hover {
                box-shadow: inset 0 100px 0 0 #80a852;
                color: #fff;
        }
        
        input.wpcf7-submit {
                display: inline-block;
                padding: 12px 25px;
                border: 1px solid #80a852;
                box-shadow: inset 0 0 0 0 #fff;
                margin: 0 5px 20px 0;
                color: #80a852;
                font: 18px 'Dosis', sans-serif;
                line-height: 18px;
                font-weight: 300;
                text-decoration: none !important;
                vertical-align: middle;
                cursor: pointer;
                -webkit-transition: all ease 0.5s;
                transition: all ease 0.5s;
        }
        .footer-top .wpcf7-form-control.wpcf7-submit {
		    background-color: #93298e;
		    border-color: #fff #fff #fff #93298e;
		    color: #fff;
		    margin-bottom: 5px;
		    margin-left: -2px;
		}
/* ==========================================================================
   #WordPress Comments
   ========================================================================== */
   
	.comments-title {}
	.comment-reply-title {}
	
	.commentlist .reply {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.commentlist .reply a {
		font: 18px 'Dosis', sans-serif;
		font-style: italic;
		font-weight: 300; 
	}
	
	.commentlist .comment-body { 
		position: relative;
		margin-bottom: 50px;
	}
	
	.commentlist .alt {}
	.commentlist .odd {}
	.commentlist .even {}
	.commentlist .thread-alt {}
	.commentlist .thread-odd {}
	.commentlist .thread-even {}
	.commentlist li ul.children .alt {}
	.commentlist li ul.children .odd {}
	.commentlist li ul.children .even {}
	
	.commentlist .vcard {}
	.commentlist .vcard cite.fn {}
	.commentlist .vcard span.says { display: none; }
	
	.commentlist .vcard img.photo {
		position: relative;
		float: left;
		display: block;
		padding: 5px;
		border: 2px solid #80a852;
		border-radius: 50%;
		margin-right: 50px;
	}
	
	.commentlist .vcard img.avatar {}
	.commentlist .vcard cite.fn a.url {
		float: left;
		color: #69675b;
		font: 24px 'Dosis', sans-serif;
		font-weight: 300; 
	}
	
	.commentlist .comment-meta {
		margin: 0 50px 10px 0;		
		text-align: right; 
	}
	 
	.commentlist .comment-meta a {
		color: #69675b;
		font: 18px 'Dosis', sans-serif;
		font-weight: 300;
	}
	
	.commentlist .commentmetadata {}
	.commentlist .commentmetadata a {}
	
	.commentlist .parent {}
	.commentlist .comment {}
	.commentlist .children {}
	.commentlist .pingback {}
	.commentlist .bypostauthor {}
	.commentlist .comment-author {}
	.commentlist .comment-author-admin {}
	
	.commentlist { 
		margin: 75px 0;
		list-style: none; 
	}
	
	.commentlist li {}
	.commentlist li p {}
	
	.commentlist li ul {
		margin-left: 140px;
		list-style: none; 
	}
	
	.commentlist li ul.children li {}
	.commentlist li ul.children li.alt {}
	.commentlist li ul.children li.byuser {}
	.commentlist li ul.children li.comment {}
	.commentlist li ul.children li.bypostauthor {}
	.commentlist li ul.children li.comment-author-admin {}
	
	#cancel-comment-reply {}
	
	#cancel-comment-reply a {}
	
	@media (min-width: 768px) and (max-width: 979px) {
		
		.commentlist li ul { margin-left: 60px; }
		
	}
	
	@media (max-width: 767px) {
		
		.commentlist .vcard img.photo {
			float: none;
			margin-right: 0;
			margin-bottom: 10px;
		}
		
		.commentlist .vcard cite.fn a.url { float: none; }
		.commentlist .comment-meta { text-align: left; }
		
		.commentlist .reply { position: relative; }
		
		.commentlist li ul { margin-left: 20px; }
		
	}
        
        .commentlist li ol {
            margin-left: 140px;
            list-style: none;
        }
        
        .fn .url {
            font: 24px 'Dosis', sans-serif !important;
            font-weight: 300 !important;
        }
        
        .comment-author b.fn {
            float: left;
            font: 24px 'Dosis', sans-serif;
            font-weight: 300;
        }
        
        .comment {
            list-style-type: none;
        }
	
/* ==========================================================================
   #WordPress Comment Form
   ========================================================================== */	
   
	/* Blog Post Comment Form */
	
	.nav-previous,
	.nav-next { display: none; }

	.nocomments { display: none; }
	
	.must-log-in { display: none; }
	
	.logged-in-as { display: none; }

	/* Comment Form */

	#comment-form { margin-top: 80px; }
	
	/* Comment notes */
	
	.comment-notes { display: none; }
	
	/* Comment author field. */
	
	.comment-form-author { }
	
	.comment-form-author label { display: none; }
	
	.comment-form-author input#author { }

	/* Comment email field. */
	
	.comment-form-email { }
	
	.comment-form-email label { display: none; }
	
	.comment-form-email input#email { }

	/* Comment URL field. */
	
	.comment-form-url { }
	
	.comment-form-url label { display: none; }
	
	.comment-form-url input#url { }

	/* Required (*) text. */
	
	#commentform .required { }

	/* Comment form comment. */
	
	.comment-form-comment { }
	
	.comment-form-comment label { display: none; }
	
	.comment-form-comment textarea#comment { }

	/* Allowed tags paragraph. */
	
	.form-allowed-tags { display: none; }
	
	.form-allowed-tags code { }

	/* Paragraph that wraps the submit button and hidden comment ID fields. */
	
	.form-submit {}

	/* Submit button. */
	
	#commentform #submit {}
        
        .form-submit input#submit:hover {
                box-shadow: inset 0 100px 0 0 #80a852;
                color: #fff;
        }
        
        .form-submit input#submit {
                display: inline-block;
                padding: 12px 25px;
                border: 1px solid #80a852;
                box-shadow: inset 0 0 0 0 #fff;
                margin: 0 5px 20px 0;
                color: #80a852;
                font: 18px 'Dosis', sans-serif;
                line-height: 18px;
                font-weight: 300;
                text-decoration: none !important;
                vertical-align: middle;
                cursor: pointer;
                -webkit-transition: all ease 0.5s;
                transition: all ease 0.5s;
        }
          
/* ==========================================================================
   #VC Portfolio symmetric
   ========================================================================== */     

        .nfw_portfolio_symmetric_container div:nth-child(3n+4) { margin-left: 0; }
        .nfw_load_more_trigger { margin-top: 55px; }
        
/* ==========================================================================
   #VC Twitter
   ========================================================================== */ 
        p.interact {
            display: none;
        }

        .nfw_twitter_user i {
            font-size: 48px;
        }

        .nfw_twitter_user a {
            color: inherit !important;
        }

        .nfw_twitter_user {
            float: left;
            font-size: 16px;
            line-height: 24px;
            margin-right: 30px;
        }

        .nfw_twitter_posts ul {
            list-style-type: none;
        }

/* ==========================================================================
   #Mailchimp Styles
   ========================================================================== */

        .mc_header_email {
            position: absolute;
            float: left;
            margin-left: 10px;
            margin-top: 2px;
            top: 5px;
        }
        
        .widget_mailchimpsf_widget .widget-title{
            float: left;
        }
        
        #mc_signup {
            float: right;
            min-width: 280px;
            width: 30%;
        }
        
        .mc_form_inside {
            min-width: 280px;
        }
        
        .mc_header_email {
            color: #ccc;
        }

/* ==========================================================================
    #Flickr Styles
    ========================================================================== */

        .flickr_badge_image {
            margin: 0 10px 10px 0px;
            width: 72px;
            height: 72px;
            float: left;
            background: none;
            padding: 0;
        }
        
/* ==========================================================================
    #Revolution Slider Styles
    ========================================================================== */

	.fullwidthbanner-container {
		border-top: 1px solid #d7d7d7;
		/*border-bottom: 1px solid #d7d7d7;*/
	}
        
        .tp-bullets.simplebullets.round .bullet {
		border: 2px solid transparent;
		background: #f3e686;
                border-radius: 50%;
                width: 8px;
                height: 8px;
	}

	.tp-bullets.simplebullets.round .bullet.selected { border-color: #e18f5f; }

        .tp-leftarrow.default { 
            background: #f3e686 url(../images/prev.png) no-repeat center center; 
            border-radius: 50%;
            width: 52px;
            height: 52px;
            opacity: 0.5;
        }

        .tp-rightarrow.default { 
            background: #f3e686 url(../images/next.png) no-repeat center center; 
            border-radius: 50%;
            width: 52px;
            height: 52px;
            opacity: 0.5;
        }

        .tp-leftarrow.default:hover,
        .tp-rightarrow.default:hover { opacity: 1; }
        
        .tp-bannertimer {
            background: #fff;
            box-shadow: 0px 1px 3px #c8c8c8;
        }
        
        .slider3-textblock {
            background-color: rgba(243, 230, 134, 0.5) !important;
            padding: 20px;
        }
        
        .slider1-title span,
        .slider3-title span {
            color: #f3e686;
        }
        
        .slider3-title {
            line-height: 90px !important;
            font-size: 72px !important;
            font-weight: 400 !important;
        }
        
        .slider2-link .btn {
            border-color: #f3e686;
            background-color: #f3e686;
            color: #69675b;
        }
        
        .slider2-link .btn:hover {
            box-shadow: inset 0 100px 0 0 #e18f5f;
            color: #fff;
        }
        
        .slider1-title {
            font-weight: 600 !important;
        }
        
        .slider1-title span {
            font-family: 'Dosis', sans-serif;
            font-weight: 300 !important;
        }
        
        .slider1-subtitle {
            line-height: 30px !important;
            font-size: 22px !important;
        }
        
/* ==========================================================================
   #Magnific popup search
   ========================================================================== */

        .nfw-search-popup-box {
            position: relative;
            background: #FFF;
            padding: 20px;
            width: auto;
            max-width: 500px;
            margin: 20px auto;
            border: 5px solid #80a852;
        }
        
/* ==========================================================================
   #Post categories styles
   ========================================================================== */

       /* #nfw-post-categories {
            max-height: 350px;
            width: 250px;
            overflow: hidden;
            overflow-y: scroll;
            display: none;
        }*/

        #nfw-post-categories ul {
            list-style: none;
        }
        
       /* #nfw-post-categories ul li:before { 
            list-style: none;
            font-size: 8px;
            font-style: normal;
            color: #80a852;
            position: relative;
            top: -2px;
            width: auto;
            height: auto;
            font-style: normal;
            margin-right: 5px;
            font-family: 'FontAwesome';
            content: "\f111"; 
        }

        #nfw-post-categories ul.children {
            list-style: none;
        }*/
		
	