/**
 * Name: layout.css
 *	
 *	-
 *
 *	T.O.C
 *	
 *	#General Layout 
 *		#Header
 *		#Content
 *		#Footer
 *	#Page Styles
 *		#Index
 *		#About
 *		#Services
 *		#Portfolio
 *		#Blog
 *		#Contact
 *	#Responsive
 *		#Large Display
 *		#Smaller then 1024px width	
 *		#Tablet (Portrait)
 *		#Mobile (Portrait and Landscape )
 *		#Mobile ( Landscape )
 */

/* ==========================================================================
   #General Layout 
   ========================================================================== */

	#wrap {
		position: relative;
		border-top: 12px solid #a82683;
		background-color: #fff;
	}
	
/* #Header
   ========================================================================== */	
   	
	#header {}
	
	@media (min-width: 1024px) {
	
		.stuck {
			position: fixed !important;
			z-index: 1010;
			top: 0;
			width: 100% !important;
		}
		
		#header.stuck {
			padding-top: 15px;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
			background: none repeat scroll 0 0 #fff;
		}
		
		#header.stuck #logo {
			width: 40%; 
			margin-top: 10px;
			margin-bottom: 15px;
		}
		
		#header.stuck .sf-menu { margin-top: 8px; }
		
		#header.stuck .sf-menu > li > a,
		#header.stuck .sf-menu > li.menu-item > a { padding-bottom: 15px; }
		
		#header.stuck #custom-search-button { top: 15px; }
		#header.stuck #nfw-search-button { top: 15px; }
	
	}
	
	/* Logo */

	#logo {
	    display: block;
	    margin-bottom: 15px;
	    margin-top: 20px;
	}
	
	#logo img { display: block; }
		
	/* Menu basics */

	.sf-menu,
	.sf-menu ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.sf-menu > li { 
		float: left;
		margin-right: 0;
	}

	.sf-menu > li > a {
		position: relative;
		display: block;
	}
	
	.sf-menu .sf-mega,
	.sf-menu li.menu-item ul {
		position: absolute;
		z-index: 210;
		top: 100%;
		left: 0;
		display: none;
	}
	
	.sf-menu li.menu-item { position: relative; }
	
	.sf-menu li.menu-item ul ul {
		top: -1px;
		left: 100%;
	}
	
	.sf-menu li:hover > .sf-mega,
	.sf-menu li.sfHover > .sf-mega,
	.sf-menu li.menu-item:hover > ul,
	.sf-menu li.menu-item.sfHover > ul { display: block; }

	/* Menu Skin */
	
	.sf-menu { 
		float: right;
		margin-top: 30px;
		/*width: 100%;*/
	} 
	
	.sf-menu a {
		display: block;
		font: 14px 'Open Sans', Arial, sans-serif;
		color: #69675b; 
		text-decoration: none;
	}
	
	.sf-menu a small {
	    color: #a63494;
	    display: block;
	    /*margin-top: 5px;*/
	    text-transform: none;
	}
	
		.sf-menu > li > a, .sf-menu > li.menu-item > a {
	    color: #a63494;
	    font-size: 14px;
	    padding-bottom: 23px;
	    text-align: center;
	    text-transform: uppercase;
	}
	
	.sf-menu > li > a span,
	.sf-menu > li.menu-item > a span {
		display: inline-block;
		padding: 5px 15px;
		border: 1px solid transparent;
	}
	
	.sf-menu > li a i { margin-right: 5px; }
	
	.sf-menu > li.current-menu-item > a span {
	    background-color: #a63494;
	    border-color: #a63494;
	    color: #fff;
	}
	
	.sf-menu > li.current-menu-item > a small { color: #fff; }
	
	.sf-menu > li > a:hover span,
	.sf-menu > li > a:hover small { color: #e18f5f; }

	/**
 	 * 1. allow long menu items to determine submenu width
 	 */
	
	.sf-menu li.menu-item ul {
		min-width: 250px; /* 1 */
		border: 1px solid #d7d7d7;
		background-color: #fff;			
	}

	.sf-menu > li.menu-item ul { padding: 10px 0; }
	
	.sf-menu li.menu-item ul li a {
		position: relative;
		padding: 10px;
		text-transform: uppercase;
	}
	
	.sf-menu li.menu-item ul li a:before {
		position: relative;
		top: -3px;
		width: 10px;
		height: 10px;
		padding: 2px;
		border: 1px solid transparent;
		border-radius: 50%;
		margin-right: 15px;
		color: #e18f5f;
		font-family: 'FontAwesome';
		font-size: 6px;
		line-height: 6px;
		font-style: normal;
		content: "";
	}
	
	.sf-menu li.menu-item ul li a:hover:before { border-color: #e18f5f; }
	
	.sf-menu li.menu-item ul li a:hover:after {
		position: absolute;
		top: 20px;
		left: 20px;
		width: 10px;
		border-top: 1px solid #e18f5f;
		content: "";
	}
	
	.sf-menu li.menu-item ul li a:hover { color: #e18f5f; }
		
	/* mega menu dropdown */
	
	.sf-mega {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 15px 0;
		border: 1px solid #d7d7d7;		
		background-color: #fff;
	}
	
	.sf-mega-section {
		float: left;
		width: 25%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 20px;
		border-right: 1px solid #d7d7d7;
	}
	
	.sf-mega-section:last-child { border-right: none; }
	
	.sf-mega-section li a { padding: 10px 0; }
	.sf-mega-section li a:hover { color: #e18f5f; }

	/* arrows */
	
	/* styling for both css and generated arrows */
	
	.sf-arrows .sf-with-ul:after {
		position: absolute;
		top: 50%;
		right: 0;
		height: 0;
		width: 0;
		/* order of following 3 rules important for fallbacks to work */
		border: 5px solid transparent;
		border-top-color: rgba(0, 0, 0, 0.5);
		margin-top: -3px;
		content: "";
	}
		
	.sf-arrows > li > .sf-with-ul:focus:after,
	.sf-arrows > li:hover > .sf-with-ul:after,
	.sf-arrows > .sfHover > .sf-with-ul:after {
		border-top-color: rgba(0, 0, 0, 0.7); 
	}
	
	/* styling for right-facing arrows */
	
	.sf-arrows ul .sf-with-ul:after {
		border-color: transparent;
		border-left-color: rgba(0 ,0, 0, 0.5);
		margin-top: -5px;
		margin-right: -3px;
	}
	
	.sf-arrows ul li > .sf-with-ul:focus:after,
	.sf-arrows ul li:hover > .sf-with-ul:after,
	.sf-arrows ul .sfHover > .sf-with-ul:after {
		border-left-color: rgba(0, 0, 0, 0.7);
	}
	
	/* Mobile Menu  */
			
	#mobile-menu {
		z-index: 20;
		margin-bottom: 0;
	}
	
	#mobile-menu li {	
		display: block;
		margin: 0;
		background-color: #f3e686;
	}
	
	#mobile-menu li a small { display: none; }
		
	#mobile-menu > li > ul, 
	#mobile-menu > li > ul > li > ul {
		display: none;
		margin-left: 0;
	}
	
	#mobile-menu .sf-mega {
		display: none;
		padding: 0;
		border: none;
		margin: 0;
	}
	
	#mobile-menu .sf-mega-section {
		float: none;
		width: 100%;
		padding: 0;
		border: none;
	}
	
	#mobile-menu .sf-mega-section ul { margin-left: 0; }

	#mobile-menu li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-top: 1px solid #d7d7d7;
		color: #69675b;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	
	#mobile-menu ul a { padding-left: 45px; }
	
	#mobile-menu ul li ul a  { padding-left: 65px; }
	
	#mobile-menu .mobile-menu-submenu-arrow {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 70px;
		border-left: 1px solid #d7d7d7;
		color: #69675b;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { 
		background-color: #e18f5f;
		color: #fff; 
	}
	
	#mobile-menu li a:hover {}
	
	#mobile-menu { display: none; }
	
	/* Mobile menu trigger  */
				
	#mobile-menu-trigger { 
		float: right;
		display: none; 
		font-size: 32px;
		color: #f3e686;
	}				
		
	/* Custom Search Form */
	
	#custom-search-button + .sf-menu { margin-right: 30px; }
        #nfw-search-button + .sf-menu { margin-right: 30px; }
	
	#custom-search-button { 
		position: absolute;
		top: 50px;
		right: 0;
		display: block;
		width: 16px;
		height: 16px;
		background: url(../images/bg-search.png) no-repeat center center;
	}
        
    #nfw-search-button { 
		position: absolute;
		top: 40px;
		right: 0;
		display: block;
		width: 16px;
		height: 16px;
		background: url(../images/bg-search.png) no-repeat center center;
	}
	
	#custom-search-button.open { 
		background: none;
		text-decoration: none;
	}
	
	#custom-search-button.open:before {
		color: #69675b;
		font-family: "iconfontcustom";
		font-size: 18px;
		content: "";
	}
	
	#custom-search-form {
		position: absolute;
		z-index: 2000;
		top: 133px;
		right: 0;
		display: none;
	}
	
	#custom-search-submit {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: url(../images/bg-search.png) no-repeat center center;
	}
	
	#s { background-color: #fff; }
	#s:focus { border-color: #d7d7d7; }
	
/* #Content
   ========================================================================== */
   		
	#content { 
		min-height: 500px; 
		padding-bottom: 50px;  
	}

	/* Page Header */
	
	#page-header {
		padding: 20px 0;
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		margin-bottom: 80px;
	}
	
	#page-header h3 {
		margin-bottom: 0;
		line-height: 24px;
	}
	
			
/* #Footer
   ========================================================================== */		
		
	#footer {}
	
	.footer-top {
	    background-color: #4c2a95;
	    color: #fff;
	}
	
	.footer-middle {
	    background-color: #ffffff;
	    padding: 40px 0;
	}
	.footer-bottom {
		background-color: #e4e4e4;
		color: #000;
		font-weight: 400;
		padding: 20px 0;
	}
	.footer-top .your-email input {
	    border-right: medium none;
	    color: #fff;
	    float: left;
	    max-width: 56%;
	    padding-bottom: 12px;
	}
	.your-email input:focus {
		border-color: #fff;
	}	
/* ==========================================================================
   #Page Styles
   ========================================================================== */
   
/* #Index
   ========================================================================== */
   
/* #About
   ========================================================================== */
   
   	.team-member { 
		margin-bottom: 50px;
		text-align: center;
	}
	
	.team-member > span {
		position: relative;
		display: inline-block;
		width: 200px;
		height: 200px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		border: 2px solid transparent;
		border-radius: 50%;
		margin-bottom: 55px;
	}
	
	.team-member > span img {
		display: block;
		max-width: 100%;
		border-radius: 50%;
	}
	
	.team-member h2 { margin-bottom: 0; }
	
	.team-member h6 {
	    font-family: "Open Sans",Arial,sans-serif;
	    font-weight: 600;
	    margin-bottom: 0;
	    min-height: 40px;
	}
	
	.team-member .social-media a.social-icon {
		float: none;
		display: inline-block;
		width: auto;
		border: none;
		font-size: 18px;
	}
	
	.team-member:hover > span {
		padding: 10px;
		border-color: #80a852; 
	}
	
	.team-member:hover > span:after {
		position: absolute;
		bottom: -40px;
		left: 50%;
		height: 40px;
		border-left: 2px solid #80a852;
		margin-left: -1px;
		content: "";
	}
	
	/* Accent colors */
	
	.team-member.accent-color-1:hover > span,
	.team-member.accent-color-1:hover > span:after { border-color: #80a852; }
	
	.team-member.accent-color-2:hover > span,
	.team-member.accent-color-2:hover > span:after { border-color: #b1a843; }
	
	.team-member.accent-color-3:hover > span,
	.team-member.accent-color-3:hover > span:after { border-color: #e18f5f; }
	
	.team-member.accent-color-4:hover > span,
	.team-member.accent-color-4:hover > span:after { border-color: #f3e686; }

/* #Services
   ========================================================================== */
      
/* #Portfolio
   ========================================================================== */
   
    /* Isotope */
	
	.portfolio-items {
		margin: 0 -10px 0px -10px;
		list-style: none; 
	}
	
	.portfolio-items li {
		float: left;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 10px;
		margin: 0;
	}
	
	.portfolio-items li .portfolio-item { margin-bottom: 0; }
   
    /* Portfolio Item */
	
	.portfolio-item { 
		position: relative; 
		margin-bottom: 23px;
	}
	
	.portfolio-item-preview { 
		position: relative; 
	}
	
	.portfolio-item-preview img {
		display: block;
		max-width: 100%;
	}
	
	.portfolio-item-overlay {
		position: absolute; 
		top: 0; 
		right: 0; 
		bottom: 0; 
		left: 0; 
		background-color: rgba(0,0,0,0.5);
		opacity: 0;
		-webkit-transition: all 0.5s;
				transition: all 0.5s;
	}			
		
	.portfolio-item-overlay-actions {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: -50px;
		text-align: center;
		-webkit-transition: bottom 0.5s;
				transition: bottom 0.5s;
	}
	
	.portfolio-item-overlay-actions .zoom {
		display: inline-block;
		width: 48px;
		height: 48px;
		border: 1px solid  #80a852;
		border-radius: 50%;
		margin-bottom: 25px;
		background-color: #80a852;
		color: #fff;
		text-align: center;
		text-decoration: none;
	}
	
	.portfolio-item-overlay-actions .zoom i {
		font-size: 32px;
		line-height: 48px;
	}
	
	.portfolio-item-overlay-actions .zoom:hover { background-color: transparent; }
	
	.portfolio-item-overlay-actions .btn {
		padding: 5px 15px;
		border-color: #fff;
		margin: 0;
		background-color: #fff;
		color: #69675b;
	}
	
	.portfolio-item-overlay-actions .btn:hover {
		box-shadow: inset 0 100px 0 0 #80a852;
		color: #fff;
	}
	
	.portfolio-item-description h4 { 
		margin-bottom: 15px;
		font-weight: 600;
	}
	
	.portfolio-item-description h4 a { color: #69675b; }
	.portfolio-item-description p span { color: #80a852; }
	
	.portfolio-item-overlay .portfolio-item-description {
		position: absolute;
		top: 0;
		width: 100%;
		margin-top: -60px;
		color: #fff;
		text-align: center;
		-webkit-transition: top 0.5s;
				transition: top 0.5s;
	}
	
	.portfolio-item-overlay .portfolio-item-description h4 {
		margin-bottom: 0;
		font: 20px 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
	
	.portfolio-item:hover .portfolio-item-overlay { opacity: 1; }
	.portfolio-item:hover .portfolio-item-overlay .portfolio-item-description { top: 50%; }
	.portfolio-item:hover .portfolio-item-overlay-actions { bottom: 50%; }
				
	/* Portfolio Pagination */
	
	.pagination {
		float: right;
		margin: 40px 0;
		list-style: none; 
	}
	
	.pagination li { 
		float: left;
		margin-right: 10px;
	}
	
	.pagination li:last-child { margin-right: 0; }

	.pagination a { 
		display: block; 
		padding: 7px 15px; 
		border: 1px solid #80a852;
		box-shadow: inset 0 0 0 0 #fff;
		-webkit-transition: all ease 0.5s;
				transition: all ease 0.5s; 
	}
	
	.pagination li.current a,
	.pagination li:hover a {
		box-shadow: inset 0 100px 0 0 #80a852;
		color: #fff;
		text-decoration: none;
	}

	/* Portfolio filter */
	
	.portfolio-filter ul {
		margin: 20px 0 70px 0;
		list-style: none;
	}
	
	.portfolio-filter ul li { 
		display: inline-block;
		margin-right: 10px;
	}
	
	.portfolio-filter ul li:last-child { margin-right: 0; }
	
	.portfolio-filter ul li a {
		display: block;
		padding: 7px 30px; 
		border: 1px solid #80a852;
		box-shadow: inset 0 0 0 0 #fff;
		color: #80a852;
		font: 18px 'Dosis', sans-serif;
		font-weight: 300; 
		text-decoration: none;
		-webkit-transition: all ease 0.5s;
				transition: all ease 0.5s;
	}
	
	.portfolio-filter ul li a.active,
	.portfolio-filter ul li a:hover {
		box-shadow: inset 0 100px 0 0 #80a852;
		color: #fff;
	}
	
/* #Blog
   ========================================================================== */
   
	/* Blog Post */
	
	.blog-post { margin-bottom: 60px; }
	
	.blog-post-title { margin-bottom: 35px; }
	.blog-post-title a { color: #69675b; }
	
	.blog-post-thumb { margin-bottom: 35px; }
	
	.blog-post-thumb img {
		display: block;
		max-width: 100%;
	}
	
	.blog-post-info { margin-bottom: 30px; }
	
	.blog-post-info i { margin-left: 30px; }
	.blog-post-info em a { color: #69675b; }
	
	.blog-post-readmore { }
	
	.blog-post .btn { margin-top: 40px; }				
   
/* #Contact
   ========================================================================== */
   
	/* Contact Form */
  
	#contact-form { 
		overflow: hidden;  
		margin-bottom: 40px; 
	}
	
	#contact-form fieldset {}
	
	label.validation-error { color: #b55454; }
	
	input.validation-error,
	textarea.validation-error,
	select.validation-error { border :1px solid #e1a1a1; }
	
	#contact-form #formstatus {}
		
	#contact-form textarea {}	  
	
/* ==========================================================================
   #Responsive
   ========================================================================== */
   
/* #Large Display
   ========================================================================== */
   	
	@media (min-width: 1400px) {
		
		#wrap {}
		
		.sf-menu > li { margin-right: 10px; }
		.sf-menu > li:last-child { margin-right: 0; }
		
		/* Portfolio */
		
		.portfolio-item { margin-bottom: 30px; }
		
		.portfolio-items { margin: 0 -15px 0px -15px; }
		.portfolio-items li { padding: 15px; }
		
	}

/* #Smaller then 1024px width
   ========================================================================== */
	
	@media (max-width: 1024px) {

		#wrap {}
		
		#header {}
		
		#content {}
		
		#footer {}
		
	}

/* #Tablet (Portrait)
   ========================================================================== */

	@media (min-width: 768px) and (max-width: 979px) {
		
		#wrap {}
		
		#header {}
		
		#menu { display: none; }
		
		#custom-search-form {
			top: 40px;
			right: 90px;
		}
		
		#nfw-search-button,
		#custom-search-button { right: 65px; }
		
		#mobile-menu-trigger { 
			display: block;
			margin-right: 10px;
			margin: 43px 0 40px 0;
		}	
		
		#content {}
		
		#footer {}
		
		/* About */
		
		.team-member > span { 
			width: 150px;
			height: 150px;
		}
		
		/* Portfolio */
		
		.portfolio-item { margin-bottom: 16px; }
		
		/* Blog */
		
		.blog-post-info i { margin-left: 0; }

	}
	
/* #Mobile (Portrait and Landscape )
   ========================================================================== */
	
	@media (max-width: 767px) {
	
		body { 
			background: none; 
			background-color: #fff; 
		}
		
		#wrap {}
		
		#header {}	
		 
		#logo { margin-bottom: 35px; }
		
		#nfw-search-button,
		#custom-search-button { display: none; }
		
		#menu { display: none; }
		
		#mobile-menu-trigger { 
			position: absolute;
			top: 0;
			right: 10px;
			display: block;
			padding: 10px;
			margin-top: 0;
		}
		
		#content {}				
		
		#footer{}					

		.nfw-row { padding: 0 40px; }
		
		.nfw-row .nfw-row { 
			width: auto; 
			padding: 0; 
			margin: 0; 
		}
		
		p.last, 
		h1.last, 
		h2.last, 
		h3.last, 
		h4.last, 
		h5.last, 
		address.last, 
		ul.last, 
		ol.last { margin-bottom: 20px; }
		
		.text-right{ text-align: left; }
		
		/* Portfolio Items */

		.portfolio-filter ul li {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
			text-align: center;
		}
		
		.portfolio-filter ul li:last-child { margin-bottom: 0; }
		
		/* Blog */
		
		.blog-post-info i { margin-left: 0; }

	}
	
/* #Mobile ( Landscape )
  ========================================================================== */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		.nfw-row { padding: 0 40px; }
		
		#mobile-menu-trigger { right: 30px; }
		
	}
        
/* #General Layout Spacing
  ========================================================================== */

        .nfw-full-width-section .nfw-full-width-section-content > div.nfw-row:first-child {
            padding-bottom: 30px;
            padding-top: 50px;
            margin-bottom: 80px;
        }

        .nfw-row-alt {
            margin-bottom: 30px;
        }
        .nfw-row-inner {
            margin-bottom: 0px;
        }

        .wpb_single_image.vc_align_right .wpb_wrapper {
            text-align: right;
            float: right;
        }

        .wpb_single_image.vc_align_left .wpb_wrapper {
            text-align: left;
            float: left;
        }

        .wpb_single_image.vc_align_center .wpb_wrapper img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .wpb_single_image.vc_align_right .wpb_wrapper img,
        .wpb_single_image.vc_align_left .wpb_wrapper img {
            display: block;
        }