/*
* tinymce format styles
*/

/* ==========================================================================
   #Custom Lists
   ========================================================================== */

	/**
 	 * Custom lists
 	 *
	 * 1. unstyled list
	 * 2. list with squares for bullets
	 * 3. list with discs for bullets
	 *
	 */
	 
	ul.unstyled { list-style-type: none; } /* 1 */
	ul.square { list-style-type: square; } /* 2 */
	ul.circle { list-style-type: circle; } /* 3 */
	
	ul.check,
	ul.plus,
	ul.pin,
	ul.arrow-circle,
	ul.arrow-round-square,
	ul.arrow {
		margin-bottom: 60px;
		list-style: none;
	}
	
	ul.check li:before,
	ul.plus li:before,
	ul.pin li:before,
	ul.arrow-circle li:before,
	ul.arrow-round-square li:before { 
		position: relative;
		display: inline-block;
		top: 0;
		width: auto;
		height: auto;
		margin-right: 15px;
		color: #2d212f;
		font-family: 'FontAwesome';
		font-size: 10px;
		font-style: normal;
	}
	
	ul.arrow-circle li:before {
		width: 15px;
		height: 18px;
		padding-left: 3px;
		border: 1px solid #2d212f;
		border-radius: 50%;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
	}
	
	ul.check li:before {
		font-family: 'iconfontcustom';
	}
	
	ul.arrow-round-square li:before,
	ul.check li:before {
		top: 3px;
		width: 24px;
		height: 26px;
		padding-left: 2px;
		border: 1px solid #2d212f;
		border-radius: 5px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}
	
	ul.plus li:before { content: ""; }
	ul.pin li:before { content: ""; }
	
	ul.check li:before { content: ""; }
	
	ul.arrow-circle li:before,
	ul.arrow-round-square li:before { content: ""; }
	
	ul.arrow-circle li,
	ul.arrow-round-square li,
	ul.check li { margin-bottom: 20px; }
	
	ul.arrow-circle li:last-child,
	ul.arrow-round-square li:last-child,
	ul.check li:last-child { margin-bottom: 0; }
	
	ul.arrow li a {
		position: relative;
		display: block;
		padding: 15px 40px;
		border: 1px solid transparent;
		color: #2d212f; 
	}
	
	ul.arrow li a:after {
		position: absolute;
		top: 15px;
		right: 25px;
		font-family: 'FontAwesome';
		font-size: 20px;
		color: transparent;
		content: "";
	}
	
	ul.arrow li a:hover {
		border-color: #2d212f;
		border-radius: 7px;
		text-decoration: none;
	}
	
	ul.arrow li a:hover:after { color: #2d212f; }
	
	ul.check.inline { margin: 60px 0; }
	
	ul.check.inline li {
		float: left;
		display: block;
		width: 156.5px;
	}
	
	@media (min-width: 1400px) {
		
		ul.check.inline li { width: 195px; }	
		
	}
	
	@media (min-width: 768px) and (max-width: 979px) {

		ul.check.inline li { width: 235px; }
			
	}
	
	@media (max-width: 767px) {
		
		ul.check.inline li {
			float: none;
			width: 100%;
		}
		
	}