#wpcf7-f634-o1 .wpcf7-form-control-wrap.your-email,
#wpcf7-f634-o2 .wpcf7-form-control-wrap.your-email {
    display: inline-block;
    width: 50%;
}
.footer-top #wpcf7-f634-o1 .your-email input,
.footer-top #wpcf7-f634-o2 .your-email input {
    border-right: medium none;
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 12px;
    max-width: 100%;
}
#wpcf7-f634-o1 div.wpcf7-response-output,#wpcf7-f634-o2 div.wpcf7-response-output{
    display: none !important;
}
.footer-top #wpcf7-f634-o1 .wpcf7-form-control.wpcf7-submit,
.footer-top #wpcf7-f634-o2 .wpcf7-form-control.wpcf7-submit {
    background-color: #93298e;
    border-color: #fff #fff #fff #93298e;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}
.margin_topng_yellowfotr
{
    margin-top: -110px;
}
.home-product-section .wpb_column.vc_column_container .vc_single_image-wrapper {
    border: 3px solid transparent;
}
.home-product-section .wpb_column:first-child:hover .vc_single_image-wrapper {
    border: 3px solid #9fc33a;
}
.home-product-section .wpb_column:first-child:hover .wpb_text_column.wpb_content_element h3 {
    color: #9fc33a;
    font-weight: 400;
}
.home-product-section .wpb_column:nth-child(2):hover .vc_single_image-wrapper {
    border: 3px solid #a92e84;
}
.home-product-section .wpb_column:nth-child(2):hover .wpb_text_column.wpb_content_element h3 {
    color: #a92e84;
    font-weight: 400;
}
.home-product-section .wpb_column:nth-child(3):hover .vc_single_image-wrapper {
    border: 3px solid #ef7d23;
}
.home-product-section .wpb_column:nth-child(3):hover .wpb_text_column.wpb_content_element h3 {
    color: #ef7d23;
    font-weight: 400;
}
.home-product-section .wpb_wrapper a {
    text-decoration: none;
}
.text-algin-right-partnr {
    text-align: right;
}
.first_partnrs {
    float: left;
    width: 45%;
}
.cemtr_partners {
    float: left;
    margin-top: 37px;
    width: 10%;
}







@media (max-width: 767px) {
    .tp-bullets.hesperiden.horizontal.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal.noSwipe {
        display: none;
    }
    .three_expert_section h1 {font-size: 21px;line-height: 25px;  text-align: center;}

    /*.three_expert_section.nfw-row.nfw-row-alt.three_expert_section {margin-bottom: 60px;padding-bottom: 30px;padding-top: 5px;}*/

    .icon-box-6 {margin-bottom: 20px !important;}

    .bounce_Section .wpb_wrapper > h2{font-size: 18px;line-height: 24px;margin-bottom: 10px !important;text-align: center !important;}

    .footer-top .your-email input,.footer-top .wpcf7-form-control.wpcf7-submit{max-width: 49%;font-size: 12px;}

    .footer-top .wpcf7-form-control.wpcf7-submit {padding-bottom: 9px;}

    #check.nfw-row.nfw-row-alt.common_padding_Altr {padding-left: 5px; padding-right: 5px; padding-top: 20px !important;}

    .bounce_Section .wpb_wrapper > h2{margin-bottom: 20px;}

    .nfw-row.nfw-row-alt.bounce_Section.vc_custom_1496623007238 { padding-left: 5px;padding-right: 5px;text-align: center;}

    .check {margin-bottom: 48px !important;}

    .icon-box-4 .icon-box-content { margin-left: 0px;}

    .icon-box-4 {margin-bottom: 48px !important;}

    .pie-chart-description {margin-bottom: 40px !important;}

    .some_benefits h3{margin: 20px 0;}

    #footer-top-widget-area-1 #text-2 {margin-top: 0;}

    #footer-top-widget-area-2 p {margin-bottom: 0;}

    #footer-top-widget-area-2 #text-3 {margin-bottom: 0;}

    .home-product-section .wpb_column {margin-bottom: 30px;text-align: center;}

    .nfw-row.nfw-row-alt.gray_area_padding_adjust.gray_area_and_white {padding-left: 0;padding-right: 0;}

    .gray_area_and_white {text-align: center;}

    div.wpcf7 {width: auto !important;}

    .first_partnrs{width: 100%;text-align: center;}

    .cemtr_partners { text-align: center;width: 100%;margin-bottom: 20px;}
   
}

@media (min-width: 768px) and (max-width: 1200px){

    #nfw-search-button, #custom-search-button{top: 50px;}

    .margin_topng_yellowfotr {margin-top: -25px;}

    div.wpcf7 {width: auto !important;}
}