/*

Theme Name: Gold

Theme URI: http://gold.europadns.net/

Description: Gold is a premium Responsive WordPress theme with a multipurpose usage. 

Author: EuropaDNS

Author URI: http://themeforest.net/user/europadns

Version: 1.1.1

Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, theme-options, threaded-comments, translation-ready

Text Domain: gold_domain



License: GPLv2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/ 



/* ==========================================================================

   #WordPress Default Classes

   ========================================================================== */



        .alignnone {

		margin: 5px 20px 20px 0;

	}



	.aligncenter,

	div.aligncenter {

		display: block;

		margin: 5px auto 5px auto;

	}

        

        .gallery-caption { }



	.alignright {

		float:right;

		margin: 5px 0 20px 20px;

	}



	.alignleft {

		float: left;

		margin: 5px 20px 20px 0;

	}



	.aligncenter {

		display: block;

		margin: 5px auto 5px auto;

	}



	a img.alignright {

		float: right;

		margin: 5px 0 20px 20px;

	}



	a img.alignnone {

		margin: 5px 20px 20px 0;

	}



	a img.alignleft {

		float: left;

		margin: 5px 20px 20px 0;

	}



	a img.aligncenter {

		display: block;

		margin-left: auto;

		margin-right: auto

	}

        

        .wp-caption {

		background: #fff;

		border: 1px solid #f0f0f0;

		max-width: 96%; /* Image does not overflow the content area */

		padding: 5px 3px 10px;

		text-align: center;

	}



	.wp-caption.alignnone {

		margin: 5px 20px 20px 0;

	}



	.wp-caption.alignleft {

		margin: 5px 20px 20px 0;

	}



	.wp-caption.alignright {

		margin: 5px 0 20px 20px;

	}



	.wp-caption img {

		border: 0 none;

		height: auto;

		margin: 0;

		max-width: 98.5%;

		padding: 0;

		width: auto;

	}



	.wp-caption p.wp-caption-text {

		font-size: 11px;

		line-height: 17px;

		margin: 0;

		padding: 0 4px 5px;

	}

        

        .sticky {

            border: 3px solid #80a852;

            padding: 10px;

        }

        

        ul.sub-menu {

            margin-left: 10px;

        }

        

        .wpb_single_image .vc_single_image-wrapper {

            display: block !important;

        }

        

        .caption.title {

                font-size: 72px;

                line-height: 90px;

                font-weight: 400; 

        }



        .caption.title.alt { 

                color: #fff;

                font-size: 60px;

        }



        .caption.title.alt:before {

                position: absolute;

                bottom: 0;

                left: 50%;

                width: 50px;

                border-top: 2px solid #fff;

                margin-left: -25px;

                content: "";

        }



        .caption.title span { color: #f3e686; }



        .caption.title.alt span { 

                font-family: 'Dosis', sans-serif; 

                font-weight: 300;

        }



        .caption.subtitle {

                color: #fff;

                font: 24px/32px 'Dosis', sans-serif;

                font-weight: 300;

        }



        .caption.text { font-size: 16px; }



        .caption.text.alt {

                padding: 20px;

                background-color: rgba(243, 230, 134, 0.5);

        }



        .caption .btn {

                border-color: #f3e686;

                background-color: #f3e686;

                color: #69675b;

        }



        .caption .btn:hover {

                box-shadow: inset 0 100px 0 0 #e18f5f;

                color: #fff;

        }

        .slider-home .vc_column-inner {
            padding: 0 !important;
        }

        .three_expert_section h1 {
            color: #3b1c19;
            font-family: open sans;
            font-size: 42px;
            font-weight: 400;
            line-height: 48px;
            margin-bottom: 43px !important;
        }

        .three_expert_section.nfw-row.nfw-row-alt.three_expert_section {
            margin-bottom: 60px !important;
            padding-bottom: 44px !important;
            padding-top: 60px !important;
        }

        .bounce_Section .wpb_wrapper > h2 {
            font-family: open sans;
            font-size: 20px;
            font-weight: 600;
        }
       .bounce_Section .wpb_column.vc_column_container.vc_col-sm-3 .btn.accent-color-1 {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #fff;
            border-image: none;
            border-style: solid;
            border-width: 3px 2px;
            color: #fff !important;
            padding: 10px 20px;
            text-transform: uppercase;
        }




        .team-member.accent-color-2 > h2 {
            color: #bdbd31;
        }
        .team-member.accent-color-3 > h2 {
            color: #e18f5f;
        }
        .team-member.accent-color-4 > h2 {
            color: #a63494;
        }
        .team-member.accent-color-1 > h2 {
            color: #80a852;
        }
        .team-member h2 {
            font-weight: 500;
            margin-bottom: 15px !important;
        }
        .team-member.accent-color-4:hover > span, .team-member.accent-color-4:hover > span::after {
            border-color: #a63494 !important;
        }
		
		#check .icon-box-content > a{
			display:none;
		}
		
		.core-values .icon-box-content > a{
			display:none;
		}
		
		#reasons .icon-box-content > a{
			display:none;
		}
		.products .icon-box-content p > a{
			display:none;
		}
		.products .icon-box-content h3{
			font-size:18px;
		}
		


        @media (max-width: 767px) {
            .caption .btn { 

                    padding: 3px 5px;

                    font-size: 10px;

                }



        }

        

        .nfw-row.nfw-row-alt .wpb_wrapper .wpb_content_element {

            margin-bottom:35px;

        }

        

/* = VC old spacing

   ========================================================================== */        

        .wpb_button, .wpb_column>.vc_column-inner>.wpb_wrapper>:last-child {

            margin-bottom: 0;

        }

        

        .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {

            margin-bottom: 35px;

        }